.clearfix::after {
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.sticky {                      // фиксированный элемент
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
}

.upper-case {
  text-transform: uppercase;
}

.text-shadow {         // тени для текста
-webkit-text-shadow: @textShadowHorizontalShift @textShadowVerticalShift @textShadowBlur @textShadowColor;
   -moz-text-shadow: @textShadowHorizontalShift @textShadowVerticalShift @textShadowBlur @textShadowColor;
        text-shadow: @textShadowHorizontalShift @textShadowVerticalShift @textShadowBlur @textShadowColor;
}

.btn-shadow {         // тени для кнопок
-webkit-box-shadow: @btnShadowHorizontalShift @btnShadowVerticalShift @btnShadowBlur @btnShadowEnhanced @btnShadowColor;
   -moz-box-shadow: @btnShadowHorizontalShift @btnShadowVerticalShift @btnShadowBlur @btnShadowEnhanced @btnShadowColor;
        box-shadow: @btnShadowHorizontalShift @btnShadowVerticalShift @btnShadowBlur @btnShadowEnhanced @btnShadowColor;
}

.liner-gradient {    // линейный градиент (фон для футера)
  background: @topColor;
  background:        -webkit-gradient(left top, left bottom, color-stop(@topColorLocation, @topColor), color-stop(@middleColorLocation, @middleColor), color-stop(@bottomColorLocation, @bottomColor));
  background: -webkit-linear-gradient(top, @topColor @topColorLocation, @middleColor @middleColorLocation, @bottomColor @bottomColorLocation);
  background:    -moz-linear-gradient(top, @topColor @topColorLocation, @middleColor @middleColorLocation, @bottomColor @bottomColorLocation);
  background:     -ms-linear-gradient(top, @topColor @topColorLocation, @middleColor @middleColorLocation, @bottomColor @bottomColorLocation);
  background:      -o-linear-gradient(top, @topColor @topColorLocation, @middleColor @middleColorLocation, @bottomColor @bottomColorLocation);
  background:         linear-gradient(to bottom, @topColor @topColorLocation, @middleColor @middleColorLocation, @bottomColor @bottomColorLocation);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#277076', GradientType=0 );
}

// CSS3 3D ANIMATION EFFECT (для кнопки прокрутки сайта наверх)
.transform { // начальная координата вращения
  -webkit-transform: @transformRotateX @transformRotateY @transformRotateZ;
     -moz-transform: @transformRotateX @transformRotateY @transformRotateZ;
      -ms-transform: @transformRotateX @transformRotateY @transformRotateZ;
       -o-transform: @transformRotateX @transformRotateY @transformRotateZ;
          transform: @transformRotateX @transformRotateY @transformRotateZ;
  &:hover { // конечная координата вращения
    -webkit-transform: @transformHoverRotateX @transformHoverRotateY @transformHoverRotateZ;
       -moz-transform: @transformHoverRotateX @transformHoverRotateY @transformHoverRotateZ;
        -ms-transform: @transformHoverRotateX @transformHoverRotateY @transformHoverRotateZ;
         -o-transform: @transformHoverRotateX @transformHoverRotateY @transformHoverRotateZ;
    -webkit-border-radius: @transformHoverBorderRadius;  // округление углов при наведении
       -moz-border-radius: @transformHoverBorderRadius;
            border-radius: @transformHoverBorderRadius;
    -webkit-transition: all @transformHoverTimeAnimation ease-out; // время прохождения анимации при наведении
       -moz-transition: all @transformHoverTimeAnimation ease-out;
         -o-transition: all @transformHoverTimeAnimation ease-out;
            transition: all @transformHoverTimeAnimation ease-out;
  }
}
