.clearfix::after {
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.sticky {                      // фиксированный элемент
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
}

.upper-case {
  text-transform: uppercase;
}

.indent {             // внутренние отступы для блока
  padding-top: @indentPaddingTop;
  padding-bottom: @indentPaddingBottom;
}

.offset {             // наружные отступы для блока
  margin-top: @offsetMarginTop;
  margin-bottom: @offsetMarginTBottom;
}

.marker-tick {        // маркер списка "галочка"
  font-family: Wingdings;
  font-size: @markerTickFontSize;
  color: @markerTickColor;
  content: 'ü';
}

.text-shadow {         // тени для текста
-webkit-text-shadow: @textShadowHorizontalShift @textShadowVerticalShift @textShadowBlur @textShadowColor;
   -moz-text-shadow: @textShadowHorizontalShift @textShadowVerticalShift @textShadowBlur @textShadowColor;
        text-shadow: @textShadowHorizontalShift @textShadowVerticalShift @textShadowBlur @textShadowColor;
}

.btn-shadow {         // тени для кнопок
-webkit-box-shadow: @btnShadowHorizontalShift @btnShadowVerticalShift @btnShadowBlur @btnShadowEnhanced @btnShadowColor;
   -moz-box-shadow: @btnShadowHorizontalShift @btnShadowVerticalShift @btnShadowBlur @btnShadowEnhanced @btnShadowColor;
        box-shadow: @btnShadowHorizontalShift @btnShadowVerticalShift @btnShadowBlur @btnShadowEnhanced @btnShadowColor;
}

.liner-gradient {    // линейный градиент (фон для футера)
  background: @topColor;
  background:        -webkit-gradient(left top, left bottom, color-stop(@topColorLocation, @topColor), color-stop(@middleColorLocation, @middleColor), color-stop(@bottomColorLocation, @bottomColor));
  background: -webkit-linear-gradient(top, @topColor @topColorLocation, @middleColor @middleColorLocation, @bottomColor @bottomColorLocation);
  background:    -moz-linear-gradient(top, @topColor @topColorLocation, @middleColor @middleColorLocation, @bottomColor @bottomColorLocation);
  background:     -ms-linear-gradient(top, @topColor @topColorLocation, @middleColor @middleColorLocation, @bottomColor @bottomColorLocation);
  background:      -o-linear-gradient(top, @topColor @topColorLocation, @middleColor @middleColorLocation, @bottomColor @bottomColorLocation);
  background:         linear-gradient(to bottom, @topColor @topColorLocation, @middleColor @middleColorLocation, @bottomColor @bottomColorLocation);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#277076', GradientType=0 );
}

.schedule-list-li-liner-gradient {  // линейный градиент (фон для пунктов списка расписания тренингов)
  background: @scheduleListLiTopColor;
  background:        -webkit-gradient(left top, right top, color-stop(@scheduleListLiTopColorLocation, @scheduleListLiTopColor), color-stop(@scheduleListLiMiddleColorLocation, @scheduleListLiMiddleColor), color-stop(@scheduleListLiBottomColorLocation, @scheduleListLiBottomColor));
  background: -webkit-linear-gradient(left, @scheduleListLiTopColor @scheduleListLiTopColorLocation, @scheduleListLiMiddleColor @scheduleListLiMiddleColorLocation, @scheduleListLiBottomColor @scheduleListLiBottomColorLocation);
  background:    -moz-linear-gradient(left, @scheduleListLiTopColor @scheduleListLiTopColorLocation, @scheduleListLiMiddleColor @scheduleListLiMiddleColorLocation, @scheduleListLiBottomColor @scheduleListLiBottomColorLocation);
  background:     -ms-linear-gradient(left, @scheduleListLiTopColor @scheduleListLiTopColorLocation, @scheduleListLiMiddleColor @scheduleListLiMiddleColorLocation, @scheduleListLiBottomColor @scheduleListLiBottomColorLocation);
  background:      -o-linear-gradient(left, @scheduleListLiTopColor @scheduleListLiTopColorLocation, @scheduleListLiMiddleColor @scheduleListLiMiddleColorLocation, @scheduleListLiBottomColor @scheduleListLiBottomColorLocation);
  background:         linear-gradient(to right, @scheduleListLiTopColor @scheduleListLiTopColorLocation, @scheduleListLiMiddleColor @scheduleListLiMiddleColorLocation, @scheduleListLiBottomColor @scheduleListLiBottomColorLocation);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5a5b5', endColorstr='#fafafa', GradientType=1 );
}

.schedule-list-li-a-liner-gradient {  // линейный градиент (фон для ссылок пункта списка расписания тренингов)
  background: @scheduleListLiLinkTopColor;
  background:        -webkit-gradient(left top, left bottom, color-stop(@scheduleListLiLinkTopColorLocation, @scheduleListLiLinkTopColor), color-stop(@scheduleListLiLinkMiddleColorLocation, @scheduleListLiLinkMiddleColor), color-stop(@scheduleListLiLinkBottomColorLocation, @scheduleListLiLinkBottomColor));
  background: -webkit-linear-gradient(top, @scheduleListLiLinkTopColor @scheduleListLiLinkTopColorLocation, @scheduleListLiLinkMiddleColor @scheduleListLiLinkMiddleColorLocation, @scheduleListLiLinkBottomColor @scheduleListLiLinkBottomColorLocation);
  background:    -moz-linear-gradient(top, @scheduleListLiLinkTopColor @scheduleListLiLinkTopColorLocation, @scheduleListLiLinkMiddleColor @scheduleListLiLinkMiddleColorLocation, @scheduleListLiLinkBottomColor @scheduleListLiLinkBottomColorLocation);
  background:     -ms-linear-gradient(top, @scheduleListLiLinkTopColor @scheduleListLiLinkTopColorLocation, @scheduleListLiLinkMiddleColor @scheduleListLiLinkMiddleColorLocation, @scheduleListLiLinkBottomColor @scheduleListLiLinkBottomColorLocation);
  background:      -o-linear-gradient(top, @scheduleListLiLinkTopColor @scheduleListLiLinkTopColorLocation, @scheduleListLiLinkMiddleColor @scheduleListLiLinkMiddleColorLocation, @scheduleListLiLinkBottomColor @scheduleListLiLinkBottomColorLocation);
  background:         linear-gradient(to bottom, @scheduleListLiLinkTopColor @scheduleListLiLinkTopColorLocation, @scheduleListLiLinkMiddleColor @scheduleListLiLinkMiddleColorLocation, @scheduleListLiLinkBottomColor @scheduleListLiLinkBottomColorLocation);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39bded', endColorstr='#b7deed', GradientType=0 );
}

// CSS3 3D ANIMATION EFFECT (для кнопки прокрутки сайта наверх)
.transform { // начальная координата вращения
  -webkit-transform: @transformRotateX @transformRotateY @transformRotateZ;
     -moz-transform: @transformRotateX @transformRotateY @transformRotateZ;
      -ms-transform: @transformRotateX @transformRotateY @transformRotateZ;
       -o-transform: @transformRotateX @transformRotateY @transformRotateZ;
          transform: @transformRotateX @transformRotateY @transformRotateZ;
  &:hover { // конечная координата вращения
    -webkit-transform: @transformHoverRotateX @transformHoverRotateY @transformHoverRotateZ;
       -moz-transform: @transformHoverRotateX @transformHoverRotateY @transformHoverRotateZ;
        -ms-transform: @transformHoverRotateX @transformHoverRotateY @transformHoverRotateZ;
         -o-transform: @transformHoverRotateX @transformHoverRotateY @transformHoverRotateZ;
    -webkit-border-radius: @transformHoverBorderRadius;  // округление углов при наведении
       -moz-border-radius: @transformHoverBorderRadius;
            border-radius: @transformHoverBorderRadius;
    -webkit-transition: all @transformHoverTimeAnimation ease-out; // время прохождения анимации при наведении
       -moz-transition: all @transformHoverTimeAnimation ease-out;
         -o-transition: all @transformHoverTimeAnimation ease-out;
            transition: all @transformHoverTimeAnimation ease-out;
  }
}
