@import "variables.less";
@import "mixins.less";


/*
  NAVIGATION
  1.0 GLOBAL
  2.0 PAGE INDEX
  2.1 SECTION TOP

  3.0 SECTION CONTENT

  4.0 SECTION FOOTER

  5.0 MEDIA RESPONSIVE STYLE
*/


/* 1.0 GLOBAL */
body {
  position: relative;
  font-family: @bodyFontFamily;
  font-weight: @bodyFontWeight;
  font-size: @bodyFontSize;
  color: @bodyColor;
  line-height: @bodyLineHeight;
  background-image: @bodyBackgroundImageUrl;
}

.h1-custom,
.h2-custom,
.h3-custom {
  font-family: @hCustomFontFamily;
  font-weight: @hCustomFontWeight;
  line-height: @hCustomLineHeight;
  // text-transform: uppercase;
  color: @hCustomColor;
  margin-top: @hCustomMarginTop;
  margin-bottom: @hCustomMarginBottom;
}

.h1-custom {
  font-size: @h1CustomFontSize;
}

.h2-custom {
  font-size: @h2CustomFontSize;
}

.h3-custom {
  font-size: @h3CustomFontSize;
}

a {
  color: @linksColor;
  text-decoration: none;
}
  :active {
    text-decoration: none;
    color: @linksHoverColor;  //!!!!!!!!!!!!!!!!!!!!!
  }
  :hover {
    text-decoration: none;
    color: @linksHoverColor;
  }
  :visited {
    color: @linksVisitedColor;
    text-decoration: none;
  }

img {                 // правило для адаптирования больших изображений
  max-width: 100%;
  height: auto;
  display: block;
}

/* ============================ 2.0 PAGE INDEX ================================ */
/* ============================ 2.1 SECTION TOP  ============================== */

.wrapper-top {                         //??????? не срабатывает ширина обложки (((
  width: @wrapperTopWidth;
}

/* ================= Top Soci Icon Block ===== =======*/

.block-social-icon {
  background-image: @blockSocialIconBackgroundImageUrl;
  height: @blockSocialIconHeigth;
}

.social-icon {
  padding-left: @socialIconPaddingLeft;
  a {

  }
    :hover {
      color: @socialIconColorHover;
    }
    i {
      color: @socialIconColor;
    }
}

/* ================= Header Menu Block =============*/

.logo-brand {
  width: @logoBrandWidth;
}

.header-menu-block {
  top: @blockSocialIconHeigth;
  height: @headerMenuHeigth;
}

.navbar-default {
  .navbar-collapse {
    .header-menu-list {
      float: right;
      li {
      margin-top: (@headerMenuHeigth / 2) - (@bodyFontSize / 2) - @headerMenuListLinkPaddingTop - @headerMenuListLinkPaddingBottom;
      text-transform: uppercase;
        a {
          font-weight: 400;
          color: @headerMenuListLinkColor;
          padding-top: @headerMenuListLinkPaddingTop;
          padding-bottom: @headerMenuListLinkPaddingBottom;
        }
          :hover {
            border-bottom: 2px solid @headerMenuListLinkActiveBorderColor;
            box-shadow: 3px 3px 3px @headerMenuListLinkActiveShadowColor;
            color: @headerMenuListLinkHoverColor;
          }
      }
    }
  }
}

.navbar-default {
  .navbar-collapse {
    .navbar-nav {
      .menu-active-link {
        border-bottom: 2px solid @headerMenuListLinkActiveBorderColor;
        box-shadow: 3px 3px 3px @headerMenuListLinkActiveShadowColor;
        a {
          color: @headerMenuListLinkActiveColor;
        }
      }
    }
  }
}

/* ======================= 3.0 SECTION CONTENT ================================ */
.wrapper-content {
  margin-top: @wrapperContentMarginTop;
}

/* ================= Banner Block ============= */
/* ===== Buttons ========= */
.btn-primary-custom {
  margin-bottom: @btnPrimaryCustomMarginBottom;
  font-size: @btnPrimaryCustomFontSize;
  text-transform: uppercase;
  border: 1px solid transparent;
  background-color: @btnPrimaryCustomColor;
  border-color: @btnPrimaryCustomBorderColor;
}

.btn-primary-custom:focus,
.btn-primary-custom.focus {
  background-color: @btnPrimaryCustomFocusColor;
  border-color: @btnPrimaryCustomBorderFocusColor;
  box-shadow: @btnShadowHorizontalShift @btnShadowVerticalShift @btnShadowBlur (@btnShadowEnhanced - 2px) @btnShadowColor;;
}

.btn-primary-custom:hover {
  background-color: @btnPrimaryCustomHoverColor;
  border-color: @btnPrimaryCustomBorderHoverColor;
  box-shadow: @btnShadowHorizontalShift @btnShadowVerticalShift @btnShadowBlur (@btnShadowEnhanced - 2px) @btnShadowColor;;
}

.btn-primary-custom:active,
.btn-primary-custom.active,
.open > .dropdown-toggle.btn-primary-custom {
  background-color: @btnPrimaryCustomActiveColor;
  border-color: @btnPrimaryCustomBorderActiveColor;
}

.btn-primary-custom:active:hover,
.btn-primary-custom.active:hover,
.open > .dropdown-toggle.btn-primary-custom:hover,
.btn-primary-custom:active:focus,
.btn-primary-custom.active:focus,
.open > .dropdown-toggle.btn-primary-custom:focus,
.btn-primary-custom:active.focus,
.btn-primary-custom.active.focus,
.open > .dropdown-toggle.btn-primary-custom.focus {
  background-color: @btnPrimaryCustomPushColor;
  border-color: @btnPrimaryCustomBorderPushColor;
}

.btn-primary-custom:active,
.btn-primary-custom.active,
.open > .dropdown-toggle.btn-primary-custom {
  background-image: none;
}

.btn-primary-custom.disabled:hover,
.btn-primary-custom[disabled]:hover,
fieldset[disabled] .btn-primary-custom:hover,
.btn-primary-custom.disabled:focus,
.btn-primary-custom[disabled]:focus,
fieldset[disabled] .btn-primary-custom:focus,
.btn-primary-custom.disabled.focus,
.btn-primary-custom[disabled].focus,
fieldset[disabled] .btn-primary-custom.focus {
  background-color: @btnPrimaryCustomColor;
  border-color: @btnPrimaryCustomBorderColor;
}

.btn-default-custom {
  margin-bottom: @btnDefaultCustomMarginBottom;
  font-size: @btnDefaultCustomFontSize;
  text-transform: uppercase;
  border: 1px solid transparent;
  background-color: @btnDefaultCustomColor;
  border-color: @btnDefaultCustomBorderColor;
}

.btn-default-custom:focus,
.btn-default-custom.focus {
  background-color: @btnDefaultCustomFocusColor;
  border-color: @btnDefaultCustomBorderFocusColor;
  box-shadow: @btnShadowHorizontalShift @btnShadowVerticalShift @btnShadowBlur (@btnShadowEnhanced - 2px) @btnShadowColor;;
}

.btn-default-custom:hover {
  background-color: @btnDefaultCustomHoverColor;
  border-color: @btnDefaultCustomBorderHoverColor;
  box-shadow: @btnShadowHorizontalShift @btnShadowVerticalShift @btnShadowBlur (@btnShadowEnhanced - 2px) @btnShadowColor;;
}

.btn-default-custom:active,
.btn-default-custom.active,
.open > .dropdown-toggle.btn-default-custom {
  background-color: @btnDefaultCustomActiveColor;
  border-color: @btnDefaultCustomBorderActiveColor;
}

.btn-default-custom:active:hover,
.btn-default-custom.active:hover,
.open > .dropdown-toggle.btn-default-custom:hover,
.btn-default-custom:active:focus,
.btn-default-custom.active:focus,
.open > .dropdown-toggle.btn-default-custom:focus,
.btn-default-custom:active.focus,
.btn-default-custom.active.focus,
.open > .dropdown-toggle.btn-default-custom.focus {
  background-color: @btnDefaultCustomPushColor;
  border-color: @btnDefaultCustomBorderPushColor;
}

.btn-default-custom:active,
.btn-default-custom.active,
.open > .dropdown-toggle.btn-default-custom {
  background-image: none;
}

.btn-default-custom.disabled:hover,
.btn-default-custom[disabled]:hover,
fieldset[disabled] .btn-default-custom:hover,
.btn-default-custom.disabled:focus,
.btn-default-custom[disabled]:focus,
fieldset[disabled] .btn-default-custom:focus,
.btn-default-custom.disabled.focus,
.btn-default-custom[disabled].focus,
fieldset[disabled] .btn-default-custom.focus {
  background-color: @btnDefaultCustomColor;
  border-color: @btnDefaultCustomBorderColor;
}

// ==== Buttons Link
.btn-primary-custom,
.btn-default-custom {
  a {
    color: @btnLinkColor;
    &:hover {
      color: @btnLinkHoverColor;
    }
  }
}


/* ================= Corporate Programm Block ============= */
.corporate-programm-item {
  background-image: @corporateProgrammItemBackgroundImageUrl;
  padding: @corporateProgrammItemPadding;
  margin-right: @corporateProgrammItemMarginRight;
  margin-bottom: @corporateProgrammItemMarginBottom;
  box-sizing: border-box;
  max-width: @corporateProgrammItemMaxWidth;
  a {
    font-size: @corporateProgrammItemLinkFontSize;
  }
}

/* ================= Next Training Block ============= */
.next-training {
  .next-training-list {
    list-style-type: none;
    padding: @nextTrainingListPaddingVertical @nextTrainingListPaddingHorizontal;
    li {
      border: 1px solid @nextTrainingListBorderColor;
      margin-bottom: @nextTrainingListMarginBottom;
      a {
        text-transform: uppercase;
        font-size: @nextTrainingListLinkFontSize;
        padding-left: @nextTrainingListLinkPaddingLeft;
        background-color: @nextTrainingListLinkBackgroundColor;
        display: block;
        &:hover {
          background-color: @nextTrainingListLinkHoverBackgroundColor;
          color: @nextTrainingListLinkHoverColor;
          text-decoration: none;
          .btn-shadow();
        }
      }
    }
  }
}

/* =============== Director ===========================*/
.foto {                           // фото блок руководитель проекта
  max-width: @fotoMaxWidth;
  max-height: auto;
  border: 1px solid @fotoBorderColor;
  padding: @fotoPadding;
}

#svgelem-think {
  max-width: @fotoMaxWidth;
  max-height: auto;
}

#gradient {
  .of-start {
    stop-color: @gradientOfStartColor;
    stop-opacity: 0;
  }

  .of-end {
    stop-color: @gradientOfEndColor;
    stop-opacity: 1;
  }
}

.gradient {
  fill: url(#gradient);
  stroke: @gradientBorderColor;
  stroke-width: @gradientBorderWidth;
}

.svg-text {
  font-style: italic;
  font-weight: lighter;
}

.svg-text-autor {
  .svg-text();
  font-size: @svgTextAutorFontSize;
}


/* ======================== 4.0 SECTION FOOTER ================================ */
/* ===== Social Network ===== */
div.social-icon-footer div {
  margin-right: 10px;
}

.social-icon-footer a {
  width: @socialIconFooterSizeImgWidth;
  height: @socialIconFooterSizeImgHeigth;
  display: block;
}

.social-icon-footer-facebook {
  width: @socialIconFooterSizeImgWidth;
  height: @socialIconFooterSizeImgHeigth;
  background: @socialIconFooterUrl;
  background-position: 0 -40px;
}

.social-icon-footer-facebook a:hover {
  background: @socialIconFooterUrl;
  background-position: 0 0;
}

.social-icon-footer-google {
  width: @socialIconFooterSizeImgWidth;
  height: @socialIconFooterSizeImgHeigth;
  background: @socialIconFooterUrl;
  background-position: -40px -40px;
}

.social-icon-footer-google a:hover {
  background: @socialIconFooterUrl;
  background-position: -40px 0;
}

.social-icon-footer-twitter {
  width: @socialIconFooterSizeImgWidth;
  height: @socialIconFooterSizeImgHeigth;
  background: @socialIconFooterUrl;
  background-position: -80px -40px;
}

.social-icon-footer-twitter a:hover {
  background: @socialIconFooterUrl;
  background-position: -80px 0;
}

/* ===== Contact ===== */
.contact-footer .contact-info {
  padding-top: 8px;
  padding-left: 40px;
}

.contact-mail {
  width: @contactFooterSizeImgWidth;
  height: @contactFooterSizeImgHeigth;
  background: @socialIconFooterUrl;
  background-position: -120px -40px;
}

.contact-phone {
  width: @contactFooterSizeImgWidth;
  height: @contactFooterSizeImgHeigth;
  background: @socialIconFooterUrl;
  background-position: -160px -40px;
}

.contact-adress {
  width: @contactFooterSizeImgWidth;
  height: @contactFooterSizeImgHeigth;
  background: @socialIconFooterUrl;
  background-position: -200px -40px;
}

/* 5.0 MEDIA RESPONSIVE STYLE */

// Large Devices, Wide Screens
@media only screen and (max-width : 1200px) {

}

// Medium Devices, Desctops
@media only screen and (max-width : 992px) {

}

// Small Devices, Tablets
@media only screen and (max-width : 767px) {

}

// Extra Small Devices, Phones
@media only screen and (max-width : 480px) {

}
