html, body {
  padding: 0;
  margin: 0;
}

.col-md-4 {
  border: 1px solid #000000;
  margin: 5px 0;
  padding: 10px;
  height: 40px;
  width: 33.33%;
  float: left;
  box-sizing: border-box;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
}
.absolute {
  border: 1px dotted #ff0000;
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 50px;
}
.relative {
  border: 1px solid blue;
  height: 100px;
  position: relative;
}
.box-100px {
  border: 1px solid green;
  display: inline-block;
  width: 100px;
  height: 100px;
}
