body {
  background-color: #f1f1f1;
}

.header {
  background-color: rgba(255, 0, 0, 0.5);
  background-image: url(image/ua.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.one {
  color: #4b0e7c;
  text-align: center;
  text-transform: uppercase;
}

.two {
  text-align: right;
  text-decoration: line-through;
  font-size: 22px;
  text-shadow: 5px 5px;
}

.three {
  text-indent: 50px;
  font-family: Helvetica ;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

a:link,
a:hover {
  color: rgb(117, 60, 15);
}

a:hover {
  text-decoration: none;
}
