<div>
  <a ng-if="currentPage !== 0" ng-click="prevPage()" class="btn btn-link">
    << Previous {{pageSize}} users |
  </a>
    Showing {{pageSize * currentPage + 1}} - {{pageSize * (currentPage + 1) > itemsCount ? itemsCount : pageSize * (currentPage + 1)}} of {{itemsCount}} users
  <a ng-if="currentPage < pagesCount - 1" ng-click="nextPage()" class="btn btn-link">
    | Next {{pageSize}} users >>
  </a>
  <input digits-only type="number" ng-model="page" />
  <button ng-click="goToPage()">go</button>
</div>
