/* 0.0 MIXINS.LESS */
/* 1.0 GLOBAL */
/* 2.0 PAGE INDEX */
/* 2.1 SECTION TOP */
/* 2.0 PAGE INDEX */
/* 2.2 SECTION CONTENT */
/* ================= 2.0 PAGE INDEX ====================== */
/* =============== 2.3 SECTION FOOTER ==================*/
/* ======================== 3.0 PAGE SCHEDULE ===================== */
/* ===================== 3.1 PAGE T_GOAL_SETTING ============== */
/* ===================== 4.0 PAGE CONTACTS ========================= */
/* ==================== 5.0 PAGE MOTIVATORS =======================*/
/* ======= Modal Window Block ===== */
/* ==================== 6.0 PAGE SITE MAP =======================*/
/* ============= 7.0 PAGE REGISTRATION PARTCIPIANT ================ */
/* 8.0 PAGE REVIEWS */
/* X.0 MEDIA RESPONSIVE STYLE */
/* Large devices .col-lg- (large desktops, 1200px and up) */
/* 1.0 GLOBAL */
/* ========2.1 SECTION TOP  */
/* ======== Carousel Block ================ */
/* 4.0 PAGE CONTACTS */
/* Medium devices .col-md- (desktops, 992px and up) */
/* 1.0 GLOBAL */
/* ========2.1 SECTION TOP =============  */
/* ==== Top Social Icon Block =========*/
/* =======Header Menu Block ========*/
/* ======== Carousel Block ================ */
/* 4.0 PAGE CONTACTS */
/* 5.0 PAGE MOTIVATORS */
/* ======= Modal Window Block ===== */
/* Small devices .col-sm- (tablets, 768px and up) */
/* 1.0 GLOBAL */
/* ========2.1 SECTION TOP  */
/* ==== Top Social Icon Block*/
/* =======Header Menu Block*/
/* 2.2 SECTION CONTENT */
/* ==============SPA-CONTENT Block ===========================*/
/* ================= Block Btn - "sign up for training" ============= */
/* 4.0 PAGE CONTACTS */
/* 5.0 PAGE MOTIVATORS */
/* ======= Modal Window Block ===== */
/* Extra small devices .col-xs- (phones,320px and up) */
/* 1.0 GLOBAL */
/* ========2.1 SECTION TOP  */
/* ==== Top Social Icon Block*/
/* =======Header Menu Block*/
/* 2.2 SECTION CONTENT */
/* ==============SPA-CONTENT Block ===========================*/
/* ================= Block Btn - "sign up for training" ============= */
/* 4.0 PAGE CONTACTS */
/* 5.0 PAGE MOTIVATORS */
/* ======= Modal Window Block ===== */
/* ============= 7.0 PAGE REGISTRATION PARTCIPIANT ================ */
.clearfix::after {
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.sticky {
  /* фиксированный элемент */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
}
.upper-case {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.indent {
  /* внутренние отступы для блока */
  padding-top: 20px;
  padding-bottom: 10px;
}
.offset {
  /* наружные отступы для блока */
  margin-top: 20px;
  margin-bottom: 10px;
}
.marker-tick {
  /* маркер списка "галочка" */
  font-family: Wingdings;
  font-size: 14px;
  color: #373E44;
  content: 'ü';
}
.text-shadow {
  /* тени для текста */
  -webkit-text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
  -moz-text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
  text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
}
.btn-shadow {
  /* тени для кнопок и блоков */
  -webkit-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  -moz-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
}
.liner-gradient {
  /* линейный градиент (фон для футера) */
  background: rgba(39, 112, 118, 0.5);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(39, 112, 118, 0.5)), color-stop(47%, rgba(246, 246, 246, 0.7)), color-stop(100%, #277076));
  background: -webkit-linear-gradient(top, rgba(39, 112, 118, 0.5) 0%, rgba(246, 246, 246, 0.7) 47%, #277076 100%);
  background: -moz-linear-gradient(top, rgba(39, 112, 118, 0.5) 0%, rgba(246, 246, 246, 0.7) 47%, #277076 100%);
  background: -ms-linear-gradient(top, rgba(39, 112, 118, 0.5) 0%, rgba(246, 246, 246, 0.7) 47%, #277076 100%);
  background: -o-linear-gradient(top, rgba(39, 112, 118, 0.5) 0%, rgba(246, 246, 246, 0.7) 47%, #277076 100%);
  background: linear-gradient(to bottom, rgba(39, 112, 118, 0.5) 0%, rgba(246, 246, 246, 0.7) 47%, #277076 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#277076', GradientType=0);
}
.schedule-list-li-liner-gradient {
  /* линейный градиент (фон для пунктов списка расписания тренингов) */
  background: #ffffff;
  background: -webkit-gradient(left top, right top, color-stop(0%, #ffffff), color-stop(80%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0.2)));
  background: -webkit-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.2) 100%);
  background: -moz-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.2) 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.2) 100%);
  background: -o-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.2) 100%);
  background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5a5b5', endColorstr='#fafafa', GradientType=1);
}
.schedule-list-li-a-liner-gradient {
  /* линейный градиент (фон для ссылок пункта списка расписания тренингов) */
  background: rgba(33, 180, 226, 0.5);
  background: -webkit-gradient(left top, left bottom, color-stop(44%, rgba(33, 180, 226, 0.5)), color-stop(76%, rgba(33, 180, 226, 0.3)), color-stop(100%, rgba(33, 180, 226, 0.2)));
  background: -webkit-linear-gradient(top, rgba(33, 180, 226, 0.5) 44%, rgba(33, 180, 226, 0.3) 76%, rgba(33, 180, 226, 0.2) 100%);
  background: -moz-linear-gradient(top, rgba(33, 180, 226, 0.5) 44%, rgba(33, 180, 226, 0.3) 76%, rgba(33, 180, 226, 0.2) 100%);
  background: -ms-linear-gradient(top, rgba(33, 180, 226, 0.5) 44%, rgba(33, 180, 226, 0.3) 76%, rgba(33, 180, 226, 0.2) 100%);
  background: -o-linear-gradient(top, rgba(33, 180, 226, 0.5) 44%, rgba(33, 180, 226, 0.3) 76%, rgba(33, 180, 226, 0.2) 100%);
  background: linear-gradient(to bottom, rgba(33, 180, 226, 0.5) 44%, rgba(33, 180, 226, 0.3) 76%, rgba(33, 180, 226, 0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#39bded', endColorstr='#b7deed', GradientType=0);
}
/* CSS3 3D ANIMATION EFFECT (для кнопки прокрутки сайта наверх) */
.d3-transition-time {
  /* время прохождения анимации при наведении */
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.transform:hover {
  -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  -moz-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  -ms-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  -o-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  -webkit-border-radius: 50px;
  /* округление углов при наведении */
  -moz-border-radius: 50px;
  border-radius: 50px;
  /* время прохождения анимации при наведении */
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
/* CSS3 2D ANIMATION EFFECT (для перемещения элементов на странице МОТИВАТОРОВ) */
.d2-transition-time {
  /* время прохождения анимации при наведении */
  -webkit-transition: all 2.5s ease;
  -moz-transition: all 2.5s ease;
  -ms-transition: all 2.5s ease;
  -o-transition: all 2.5s ease;
  transition: all 2.5s ease;
}
.d2-transform-bum:hover {
  -webkit-transform: scale(1.2) rotate(1080deg) translateX(98px) translateY(137px) skewX(0deg) skewY(0deg);
  -moz-transform: scale(1.2) rotate(1080deg) translateX(98px) translateY(137px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1.2) rotate(1080deg) translateX(98px) translateY(137px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1.2) rotate(1080deg) translateX(98px) translateY(137px) skewX(0deg) skewY(0deg);
  transform: scale(1.2) rotate(1080deg) translateX(98px) translateY(137px) skewX(0deg) skewY(0deg);
  /* время прохождения анимации при наведении */
  -webkit-transition: all 2.5s ease;
  -moz-transition: all 2.5s ease;
  -ms-transition: all 2.5s ease;
  -o-transition: all 2.5s ease;
  transition: all 2.5s ease;
}
.d2-transform-learner:hover {
  -webkit-transform: scale(1.2) rotate(-1080deg) translateX(-125px) translateY(-110px) skewX(0deg) skewY(0deg);
  -moz-transform: scale(1.2) rotate(-1080deg) translateX(-125px) translateY(-110px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1.2) rotate(-1080deg) translateX(-125px) translateY(-110px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1.2) rotate(-1080deg) translateX(-125px) translateY(-110px) skewX(0deg) skewY(0deg);
  transform: scale(1.2) rotate(-1080deg) translateX(-125px) translateY(-110px) skewX(0deg) skewY(0deg);
  /* время прохождения анимации при наведении */
  -webkit-transition: all 2.5s ease;
  -moz-transition: all 2.5s ease;
  -ms-transition: all 2.5s ease;
  -o-transition: all 2.5s ease;
  transition: all 2.5s ease;
}
/*
  NAVIGATION
  1.0 GLOBAL
  2.0 PAGE INDEX
  2.1 SECTION TOP
  2.2 SECTION CONTENT
  2.3 SECTION FOOTER

  3.0 PAGE SCHEDULE
  3.1 PAGE T_GOAL_SETTING (ТРЕНИНГ ЦЕЛЕПОЛАГАНИЯ)
  3.2 PAGE T_COMMUNICATION (ТРЕНИНГ КОММУНИКАЦИЯ И КОНФЛИКТОЛОГИЯ)

  4.0 PAGE CONTACTS
  5.0 PAGE MOTIVATORS
  6.0 PAGE SITE MAP
  7.0 PAGE REGISTRATION PARTCIPIANT
  8.0 PAGE REVIEWS


  X.0 MEDIA RESPONSIVE STYLE
*/
/* 1.0 GLOBAL */
body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #373E44;
  line-height: 22px;
  background-image: url(../img/background/body/school_blue.jpg);
}
.h1-custom,
.h2-custom,
.h3-custom,
.h4-custom {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
}
.h1-custom {
  font-size: 30px;
}
.h2-custom {
  font-size: 26px;
}
.h3-custom {
  font-size: 22px;
}
.h4-custom {
  font-size: 18px;
}
.h-decor {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(112, 126, 138, 0.69);
}
.h-decor:after {
  content: "";
  display: block;
  position: relative;
  margin: -1px auto;
  top: 5px;
  background-color: #277076;
  height: 1px;
  width: 150px;
}
a {
  color: #666;
  text-decoration: none;
}
a:active {
  text-decoration: none;
  color: #404040;
}
a:hover {
  text-decoration: none;
  color: #404040;
}
a:visited {
  color: #262626;
  text-decoration: none;
}
img {
  /* правило для адаптирования больших изображений */
  max-width: 100%;
  height: auto;
  display: block;
}
/* ============================ 2.0 PAGE INDEX ================================ */
/* ============================ 2.1 SECTION TOP  ============================== */
.wrapper-top {
  /*??????? не срабатывает ширина обложки ((( */
  width: 900px;
}
/* ================= Top Social Icon Block ===== =======*/
.block-social-icon {
  background-image: url(../img/background/body/school_blue.jpg);
  height: 25px;
}
.block-social-icon a {
  display: block;
  padding-left: 5px;
}
.block-social-icon a i {
  color: rgba(65, 75, 76, 0.52);
}
.block-social-icon a i:hover {
  color: #366;
}
/* ================= Header Menu Block =============*/
.logo-brand {
  width: 250px;
}
.header-menu-block {
  top: 25px;
  height: 100px;
  /* тени для кнопок и блоков */
  -webkit-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  -moz-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
}
.navbar-default .navbar-collapse .header-menu-list li {
  margin-top: 23px;
  text-transform: uppercase;
}
.navbar-default .navbar-collapse .header-menu-list li a {
  font-weight: 400;
  color: #373E44;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-default .navbar-collapse .header-menu-list li a:hover {
  border-bottom: 2px solid #366;
  box-shadow: 3px 3px 3px #c9c9c9;
  color: #366;
}
.navbar-default .navbar-collapse .navbar-nav .menu-active-link {
  border-bottom: 2px solid #366;
  box-shadow: 3px 3px 3px #c9c9c9;
}
.navbar-default .navbar-collapse .navbar-nav .menu-active-link a {
  color: #366;
}
/* ======================= 2.2 SECTION CONTENT ================================ */
.wrapper-content {
  padding-top: 125px;
}
/* ================= Banner Block ============= */
.banner-row {
  background-image: url(../img/background/body/light_grey.jpg);
}
/* ===== Buttons ========= */
.btn-primary-custom {
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid transparent;
  background-color: #366;
  border-color: #091111;
}
.btn-primary-custom:focus,
.btn-primary-custom.focus {
  background-color: #448888;
  border-color: #224444;
  box-shadow: 2px 3px 4px 0px rgba(51, 102, 102, 0.5);
}
.btn-primary-custom:hover {
  background-color: #478f8f;
  border-color: #224444;
  box-shadow: 2px 3px 4px 0px rgba(51, 102, 102, 0.5);
}
.btn-primary-custom:active,
.btn-primary-custom.active,
.open > .dropdown-toggle.btn-primary-custom {
  background-color: #4d9999;
  border-color: #224444;
}
.btn-primary-custom:active:hover,
.btn-primary-custom.active:hover,
.open > .dropdown-toggle.btn-primary-custom:hover,
.btn-primary-custom:active:focus,
.btn-primary-custom.active:focus,
.open > .dropdown-toggle.btn-primary-custom:focus,
.btn-primary-custom:active.focus,
.btn-primary-custom.active.focus,
.open > .dropdown-toggle.btn-primary-custom.focus {
  background-color: #478f8f;
  border-color: #224444;
}
.btn-primary-custom:active,
.btn-primary-custom.active,
.open > .dropdown-toggle.btn-primary-custom {
  background-image: none;
}
.btn-primary-custom.disabled:hover,
.btn-primary-custom[disabled]:hover,
fieldset[disabled] .btn-primary-custom:hover,
.btn-primary-custom.disabled:focus,
.btn-primary-custom[disabled]:focus,
fieldset[disabled] .btn-primary-custom:focus,
.btn-primary-custom.disabled.focus,
.btn-primary-custom[disabled].focus,
fieldset[disabled] .btn-primary-custom.focus {
  background-color: #366;
  border-color: #091111;
}
.btn-default-custom {
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid transparent;
  background-color: #7cc7c7;
  border-color: #3b8989;
}
.btn-default-custom:focus,
.btn-default-custom.focus {
  background-color: #58b8b8;
  border-color: #58b8b8;
  box-shadow: 2px 3px 4px 0px rgba(51, 102, 102, 0.5);
}
.btn-default-custom:hover {
  background-color: #51b5b5;
  border-color: #58b8b8;
  box-shadow: 2px 3px 4px 0px rgba(51, 102, 102, 0.5);
}
.btn-default-custom:active,
.btn-default-custom.active,
.open > .dropdown-toggle.btn-default-custom {
  background-color: #4aadad;
  border-color: #58b8b8;
}
.btn-default-custom:active:hover,
.btn-default-custom.active:hover,
.open > .dropdown-toggle.btn-default-custom:hover,
.btn-default-custom:active:focus,
.btn-default-custom.active:focus,
.open > .dropdown-toggle.btn-default-custom:focus,
.btn-default-custom:active.focus,
.btn-default-custom.active.focus,
.open > .dropdown-toggle.btn-default-custom.focus {
  background-color: #51b5b5;
  border-color: #58b8b8;
}
.btn-default-custom:active,
.btn-default-custom.active,
.open > .dropdown-toggle.btn-default-custom {
  background-image: none;
}
.btn-default-custom.disabled:hover,
.btn-default-custom[disabled]:hover,
fieldset[disabled] .btn-default-custom:hover,
.btn-default-custom.disabled:focus,
.btn-default-custom[disabled]:focus,
fieldset[disabled] .btn-default-custom:focus,
.btn-default-custom.disabled.focus,
.btn-default-custom[disabled].focus,
fieldset[disabled] .btn-default-custom.focus {
  background-color: #7cc7c7;
  border-color: #3b8989;
}
.btn-link-custom,
.btn-link-custom:active,
.btn-link-custom.active,
.btn-link-custom[disabled],
fieldset[disabled] .btn-link-custom {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link-custom,
.btn-link-custom:hover,
.btn-link-custom:focus,
.btn-link-custom:active {
  border-color: transparent;
}
.btn-link-custom:hover,
.btn-link-custom:focus {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}
.btn-link-custom[disabled]:hover,
fieldset[disabled] .btn-link-custom:hover,
.btn-link-custom[disabled]:focus,
fieldset[disabled] .btn-link-custom:focus {
  color: #000;
  text-decoration: none;
}
/* ==== Buttons Link */
.btn-primary-custom a,
.btn-default-custom a,
.btn-link-custom a {
  color: #fff;
}
.btn-primary-custom a:hover,
.btn-default-custom a:hover,
.btn-link-custom a:hover {
  text-decoration: none;
  color: #000;
}
.btn-primary-custom a:active,
.btn-default-custom a:active,
.btn-link-custom a:active {
  text-decoration: none;
  color: #000;
}
.btn-primary-custom a:focus,
.btn-default-custom a:focus,
.btn-link-custom a:focus {
  text-decoration: none;
  color: #000;
}
.btn-primary-custom a:visited,
.btn-default-custom a:visited,
.btn-link-custom a:visited {
  text-decoration: none;
}
/* ================= Corporate Programm Block ============= */
.corporate-programm-item {
  background-image: url(../img/background/body/geometry.jpg);
  padding: 10px;
  margin-right: 2px;
  margin-bottom: 15px;
  box-sizing: border-box;
  max-width: 290px;
  /* тени для кнопок и блоков */
  -webkit-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  -moz-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
}
.corporate-programm-item a {
  font-size: 12px;
}
/* ================= Next Training Block ============= */
.next-training .next-training-block {
  border: 1px solid #373E44;
  background-image: url(../img/background/body/vichy.jpg);
  /* тени для кнопок и блоков */
  -webkit-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  -moz-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
}
.next-training .next-training-list {
  list-style-type: none;
  padding: 5px 10px;
}
.next-training .next-training-list li {
  border: 1px solid #373E44;
  margin-bottom: 5px;
}
.next-training .next-training-list li a {
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 5px;
  background-color: #fff;
  display: block;
}
.next-training .next-training-list li a:hover {
  background-color: #366;
  color: #fff;
  text-decoration: none;
  /* тени для кнопок и блоков */
  -webkit-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  -moz-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
}
.next-training .next-training-list .next-training-active-li-link {
  background-color: #366;
  color: #fff;
  text-decoration: none;
  /* тени для кнопок и блоков */
  -webkit-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  -moz-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
}
.next-training .btn-default-custom {
  /* наружные отступы для блока */
  margin-top: 20px;
  margin-bottom: 10px;
}
/* =============== Director ===========================*/
.foto {
  /* фото блок руководитель проекта */
  max-width: 250px;
  max-height: auto;
  border: 1px solid #373E44;
  padding: 3px;
  /* тени для кнопок и блоков */
  -webkit-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  -moz-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
}
#svgelem-think {
  max-width: 250px;
  max-height: 120px;
}
#svg-gradient .of-start {
  stop-color: #f0a8ed;
  stop-opacity: 0;
}
#svg-gradient .of-end {
  stop-color: #7bc9d4;
  stop-opacity: 1;
}
.svg-gradient {
  fill: url(#svg-gradient);
  stroke: #7bc9d4;
  stroke-width: 1px;
}
.svg-text {
  font-style: italic;
  font-weight: lighter;
}
.svg-text-autor {
  font-style: italic;
  font-weight: lighter;
  font-size: 12px;
}
/* =============== SPA-CONTENT Block ===========================*/
.spa-content {
  background-color: #f8f8f8;
  /* тени для кнопок и блоков */
  -webkit-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  -moz-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
}
/* ======================== 2.3 SECTION FOOTER ================================ */
/* Main Footer*/
.main-footer {
  margin-top: 40px;
  /* линейный градиент (фон для футера) */
  background: rgba(39, 112, 118, 0.5);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(39, 112, 118, 0.5)), color-stop(47%, rgba(246, 246, 246, 0.7)), color-stop(100%, #277076));
  background: -webkit-linear-gradient(top, rgba(39, 112, 118, 0.5) 0%, rgba(246, 246, 246, 0.7) 47%, #277076 100%);
  background: -moz-linear-gradient(top, rgba(39, 112, 118, 0.5) 0%, rgba(246, 246, 246, 0.7) 47%, #277076 100%);
  background: -ms-linear-gradient(top, rgba(39, 112, 118, 0.5) 0%, rgba(246, 246, 246, 0.7) 47%, #277076 100%);
  background: -o-linear-gradient(top, rgba(39, 112, 118, 0.5) 0%, rgba(246, 246, 246, 0.7) 47%, #277076 100%);
  background: linear-gradient(to bottom, rgba(39, 112, 118, 0.5) 0%, rgba(246, 246, 246, 0.7) 47%, #277076 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#277076', GradientType=0);
}
.main-footer .main-footer-item {
  padding: 0px 20px;
}
/* Footer Menu*/
.footer-menu-list {
  text-transform: lowercase;
  list-style-type: none;
  padding-left: 0px;
}
.footer-menu-list li {
  font-size: 14px;
  color: #2d3033;
}
.footer-menu-list li:before {
  content: "»";
}
.footer-menu-list li a {
  color: #2d3033;
}
.footer-menu-list li a:hover {
  color: #fff;
  /* тени для текста */
  -webkit-text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
  -moz-text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
  text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
}
/* ===== Social Network ===== */
div.social-icon-footer div {
  margin-right: 10px;
}
.social-icon-footer a {
  width: 40px;
  height: 40px;
  display: block;
}
.social-icon-footer-facebook {
  width: 40px;
  height: 40px;
  background: url(../img/sprite.png);
  background-position: 0 -40px;
}
.social-icon-footer-facebook a:hover {
  background: url(../img/sprite.png);
  background-position: 0 0;
}
.social-icon-footer-google {
  width: 40px;
  height: 40px;
  background: url(../img/sprite.png);
  background-position: -40px -40px;
}
.social-icon-footer-google a:hover {
  background: url(../img/sprite.png);
  background-position: -40px 0;
}
.social-icon-footer-twitter {
  width: 40px;
  height: 40px;
  background: url(../img/sprite.png);
  background-position: -80px -40px;
}
.social-icon-footer-twitter a:hover {
  background: url(../img/sprite.png);
  background-position: -80px 0;
}
/* ===== Contact ===== */
.contact-info {
  padding-top: 10px;
  padding-left: 40px;
  font-size: 12px;
}
.contact-mail {
  width: 40px;
  height: 40px;
  background: url(../img/sprite.png);
  background-position: -120px -40px;
}
.contact-phone {
  width: 40px;
  height: 40px;
  background: url(../img/sprite.png);
  background-position: -160px -40px;
}
.contact-adress {
  width: 40px;
  height: 40px;
  background: url(../img/sprite.png);
  background-position: -200px -40px;
}
/* Bottom Footer*/
.bottom-footer {
  background-color: #277076;
  padding-top: 20px;
  color: #fff;
  font-size: 12px;
}
.scroll-top {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  display: block;
  background: url(../img/sprite.png);
  background-position: -241px -1px;
}
.scroll-top:hover {
  -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  -moz-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  -ms-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  -o-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  -webkit-border-radius: 50px;
  /* округление углов при наведении */
  -moz-border-radius: 50px;
  border-radius: 50px;
  /* время прохождения анимации при наведении */
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.scroll-top a {
  display: block;
}
/* =================  3.0 PAGE SCHEDULE ========================= */
.schedule-list {
  list-style-type: none;
  padding: 5px 10px;
}
.schedule-list li {
  border: 1px solid #000;
  margin-bottom: 5px;
  border-radius: 40px 0 40px 0;
  overflow: hidden;
  /* линейный градиент (фон для пунктов списка расписания тренингов) */
  background: #ffffff;
  background: -webkit-gradient(left top, right top, color-stop(0%, #ffffff), color-stop(80%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0.2)));
  background: -webkit-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.2) 100%);
  background: -moz-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.2) 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.2) 100%);
  background: -o-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.2) 100%);
  background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5a5b5', endColorstr='#fafafa', GradientType=1);
  /* тени для кнопок и блоков */
  -webkit-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  -moz-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
}
.schedule-list li a {
  text-transform: uppercase;
  font-size: 12px;
  color: #333639;
  padding-left: 25px;
  background-color: #fff;
  display: block;
  /* линейный градиент (фон для ссылок пункта списка расписания тренингов) */
  background: rgba(33, 180, 226, 0.5);
  background: -webkit-gradient(left top, left bottom, color-stop(44%, rgba(33, 180, 226, 0.5)), color-stop(76%, rgba(33, 180, 226, 0.3)), color-stop(100%, rgba(33, 180, 226, 0.2)));
  background: -webkit-linear-gradient(top, rgba(33, 180, 226, 0.5) 44%, rgba(33, 180, 226, 0.3) 76%, rgba(33, 180, 226, 0.2) 100%);
  background: -moz-linear-gradient(top, rgba(33, 180, 226, 0.5) 44%, rgba(33, 180, 226, 0.3) 76%, rgba(33, 180, 226, 0.2) 100%);
  background: -ms-linear-gradient(top, rgba(33, 180, 226, 0.5) 44%, rgba(33, 180, 226, 0.3) 76%, rgba(33, 180, 226, 0.2) 100%);
  background: -o-linear-gradient(top, rgba(33, 180, 226, 0.5) 44%, rgba(33, 180, 226, 0.3) 76%, rgba(33, 180, 226, 0.2) 100%);
  background: linear-gradient(to bottom, rgba(33, 180, 226, 0.5) 44%, rgba(33, 180, 226, 0.3) 76%, rgba(33, 180, 226, 0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#39bded', endColorstr='#b7deed', GradientType=0);
}
.schedule-list li a:hover {
  background: #366;
  color: #fff;
  text-decoration: none;
  /* тени для кнопок и блоков */
  -webkit-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  -moz-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
}
.schedule-list li a:after {
  font-size: 15px;
  padding-left: 10px;
  content: "→";
}
.schedule-list li p {
  margin: -7px 23px 0;
  font-size: 10px;
}
.schedule-list li p span {
  font-style: italic;
  /* тени для текста */
  -webkit-text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
  -moz-text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
  text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
}
/* ===================== 3.1 PAGE T_GOAL_SETTING (ТРЕНИНГ ЦЕЛЕПОЛАГАНИЯ) ============== */
.blockquote-custom {
  font-size: 12px;
  font-style: italic;
  border-right: 2px solid #366;
}
.bradkrumbs .bradkrumbs-active-link {
  color: #4E49F9;
  /* тени для текста */
  -webkit-text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
  -moz-text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
  text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
}
.bradkrumbs a {
  font-size: 10px;
  color: #366;
}
.bradkrumbs a:hover {
  color: #4E49F9;
  /* тени для текста */
  -webkit-text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
  -moz-text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
  text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
}
/*============= 3.2 PAGE T_COMMUNICATION (ТРЕНИНГ КОММУНИКАЦИЯ И КОНФЛИКТОЛОГИЯ) ===== */
.list-marker li:before {
  /* маркер списка "галочка" */
  font-family: Wingdings;
  font-size: 14px;
  color: #373E44;
  content: 'ü';
}
/*============================== 4.0 PAGE CONTACTS ===== */
.form-contacts {
  margin-left: 10px;
}
.form-contacts .field-input {
  height: 40px;
  width: 300px;
}
.form-contacts .field-textarea {
  min-height: 180px;
  max-height: 180px;
  min-width: 300px;
  max-width: 300px;
}
/* ==================== 5.0 PAGE MOTIVATORS =======================*/
/* ===== gallery block == */
/* ===== gallery Preview == */
ul.gallery-preview {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
}
.gallery-preview {
  list-style-type: none;
  position: relative;
  min-width: 250px;
  max-width: 720px;
  height: 300px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #366;
}
.gallery-preview li {
  position: absolute;
  transition: all 1s ease;
  display: none;
}
.gallery-preview li.active {
  display: block;
}
.arrow-preview {
  height: 40px;
  position: relative;
  margin-top: -45px;
}
.left-preview-arrow {
  font-size: 28px;
  margin-left: 20px;
}
.right-preview-arrow {
  font-size: 28px;
  margin-right: 20px;
}
.arrow-preview-decor {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: #366;
  color: #fff;
  cursor: pointer;
}
/* ===== gallery Thumbnails == */
.gallery-thumbnails-box {
  width: 400px;
  margin-top: 10px;
}
.left-thumbnails-arrow {
  font-size: 21px;
  margin-top: 11px;
}
.right-thumbnails-arrow {
  font-size: 21px;
  margin-top: -34px;
}
.arrow-thumbnails-decor {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #666;
  background-color: #366;
  color: #fff;
  cursor: pointer;
}
.gallery-thumbnails-overflow {
  box-sizing: border-box;
  overflow: hidden;
  width: 254px;
  margin-left: 74px;
}
.gallery-thumbnails {
  list-style-type: none;
  width: 10000px;
  padding-left: 1px;
  margin-bottom: 1px;
}
.gallery-thumbnails li {
  float: left;
  margin: 0 1px;
}
.gallery-thumbnails li.active {
  border: 2px solid #366;
  margin: 0 -1px;
}
.gallery-thumbnails::after {
  content: '';
  display: block;
  clear: both;
}
/* ======= Modal Window Block ===== */
.modals-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
}
.modals-overlay .modal {
  background-color: #fff;
  min-width: 300px;
  max-width: 750px;
  min-height: auto;
  max-height: 670px;
  position: absolute;
  top: 5px;
  left: 20%;
  display: block;
}
.modals-overlay .modal .modal-header {
  background: #666;
  color: #ccc;
  height: 40px;
  padding: 0 5px;
}
.modals-overlay .modal .modal-header .btn-close {
  cursor: pointer;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 22px;
}
.modals-overlay .modal .modal-body img {
  max-width: 82%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.modals-overlay .modal .modal-footer {
  background: #666;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ccc;
}
/* ========= 2d-animation == */
.d2-animation {
  background-image: url(../img/motivators/2Dbg.jpg);
  background-size: cover;
  width: 450px;
  height: 450px;
  margin-bottom: 15px;
  margin-left: 165px;
  position: relative;
}
.d2-animation-element {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #ed1711;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  display: block;
  position: relative;
  top: 42%;
  /* тени для кнопок и блоков */
  -webkit-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  -moz-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
}
.bum {
  margin-left: 159px;
}
.bum:hover {
  -webkit-transform: scale(1.2) rotate(1080deg) translateX(98px) translateY(137px) skewX(0deg) skewY(0deg);
  -moz-transform: scale(1.2) rotate(1080deg) translateX(98px) translateY(137px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1.2) rotate(1080deg) translateX(98px) translateY(137px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1.2) rotate(1080deg) translateX(98px) translateY(137px) skewX(0deg) skewY(0deg);
  transform: scale(1.2) rotate(1080deg) translateX(98px) translateY(137px) skewX(0deg) skewY(0deg);
  /* время прохождения анимации при наведении */
  -webkit-transition: all 2.5s ease;
  -moz-transition: all 2.5s ease;
  -ms-transition: all 2.5s ease;
  -o-transition: all 2.5s ease;
  transition: all 2.5s ease;
}
.learner {
  margin-right: 159px;
}
.learner:hover {
  -webkit-transform: scale(1.2) rotate(-1080deg) translateX(-125px) translateY(-110px) skewX(0deg) skewY(0deg);
  -moz-transform: scale(1.2) rotate(-1080deg) translateX(-125px) translateY(-110px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1.2) rotate(-1080deg) translateX(-125px) translateY(-110px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1.2) rotate(-1080deg) translateX(-125px) translateY(-110px) skewX(0deg) skewY(0deg);
  transform: scale(1.2) rotate(-1080deg) translateX(-125px) translateY(-110px) skewX(0deg) skewY(0deg);
  /* время прохождения анимации при наведении */
  -webkit-transition: all 2.5s ease;
  -moz-transition: all 2.5s ease;
  -ms-transition: all 2.5s ease;
  -o-transition: all 2.5s ease;
  transition: all 2.5s ease;
}
/* 6.0 PAGE SITE MAP */
.site-link-list {
  background-image: url(../img/pegas.png);
  background-repeat: no-repeat;
  background-position: right;
}
.site-link-list .h4-custom {
  /* тени для текста */
  -webkit-text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
  -moz-text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
  text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
}
.site-link-list li a {
  text-transform: lowercase;
}
.site-link-list li a:hover {
  color: #366;
  text-transform: uppercase;
  /* тени для текста */
  -webkit-text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
  -moz-text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
  text-shadow: 3px 2px 4px rgba(51, 102, 102, 0.74);
}
/* 7.0 PAGE REGISTRATION PARTCIPIANT */
/* ==== fields form registration participiant block */
.form-registration-participiant input {
  width: 350px;
  border-radius: 2px;
  margin-bottom: 5px;
  padding-left: 5px;
}
.form-registration-participiant input[type="checkbox"] {
  width: 20px;
  margin-right: 5px;
}
.form-registration-participiant select {
  width: 262px;
  border-radius: 2px;
  padding-left: 5px;
}
.form-registration-participiant input.date {
  width: 262px;
  padding-left: 5px;
}
.form-registration-participiant input[type="radio"] {
  width: 20px;
}
.form-registration-participiant textarea {
  min-width: 350px;
  max-width: 350px;
  min-height: 180px;
  max-height: 180px;
  border-radius: 2px;
  padding-left: 5px;
}
.capcha {
  border: 1px solid #000;
  border-radius: 2px;
  padding: 5px 0 5px 5px;
  font-family: 'Modern Antiqua', cursive;
  font-size: 19px;
  color: #fff;
  letter-spacing: 26px;
}
.form-registration-participiant input[type="button"] {
  width: 120px;
  margin-left: 10px;
  background-color: #7cc7c7;
  color: #fff;
  /* тени для кнопок и блоков */
  -webkit-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  -moz-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
}
.form-registration-participiant input[type="submit"] {
  background-color: #366;
  color: #fff;
  margin-bottom: 20px;
  /* тени для кнопок и блоков */
  -webkit-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  -moz-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
}
/* ==== Message Warning & Access block */
.warning-massage {
  margin-bottom: 5px;
  padding-left: 5px;
  background-color: rgba(242, 105, 38, 0.81);
  border: 1px solid #f40f0f;
  border-radius: 5px;
  /* тени для кнопок и блоков */
  -webkit-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  -moz-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
}
.access-massage {
  margin-bottom: 5px;
  padding-left: 5px;
  background-color: rgba(38, 242, 138, 0.81);
  border: 1px solid #366;
  border-radius: 5px;
  /* тени для кнопок и блоков */
  -webkit-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  -moz-box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
  box-shadow: 2px 3px 4px 2px rgba(51, 102, 102, 0.5);
}
/* 8.0 PAGE REVIEWS */
.table-users th:after {
  padding-left: 5px;
  content: '▼';
  cursor: pointer;
}
/* X.0 MEDIA RESPONSIVE STYLE */
/* Start Large devices .col-lg- (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* 1.0 GLOBAL */
  .h1-custom {
    margin-top: 15px;
  }
  /* ============================ 2.1 SECTION TOP  ============================== */
  /* ======== Carousel Block ================ */
  .carousel-child {
    padding: 20px;
  }
  /*=============== 4.0 PAGE CONTACTS =====================*/
  .map {
    width: 750px;
    height: 750px;
  }
}
/* End Large devices .col-lg- (large desktops, 1200px and up) */
/* Start Medium devices .col-md- (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* 1.0 GLOBAL */
  .h1-custom {
    margin-top: 15px;
  }
  /* ============================ 2.1 SECTION TOP  ============================== */
  /* ================= Top Soci Icon Block ===== =======*/
  .social-icon-row {
    margin-right: 10px;
  }
  /* ================= Header Menu Block =============*/
  .logo-brand {
    width: 250px;
  }
  .header-menu-list li a {
    font-size: 12px;
  }
  /* ================= Corporate Programm Block ============= */
  .corporate-programm-item {
    max-width: 240px;
  }
  .corporate-programm-item a {
    font-size: 10px;
  }
  /* ======== Carousel Block ================ */
  .carousel-child {
    padding: 20px;
  }
  /*=============== 4.0 PAGE CONTACTS =====================*/
  .map {
    width: 620px;
    height: 320px;
  }
  /* ==================== 5.0 PAGE MOTIVATORS =======================*/
  /* ======= Modal Window Block ===== */
  .modals-overlay .modal {
    max-height: 595px;
    margin-top: 20px;
    left: 13%;
  }
  .modals-overlay .modal .modal-body img {
    max-width: 71%;
  }
  /* ========= 2d-animation == */
  .d2-animation {
    margin-left: 97px;
  }
}
/* End Medium devices .col-md- (desktops, 992px and up) */
/* Start Small devices .col-sm- (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* 1.0 GLOBAL */
  .h1-custom {
    margin-top: 5px;
  }
  /* ============================ 2.1 SECTION TOP  ============================== */
  /* ================= Top Soci Icon Block ===== =======*/
  .social-icon-row {
    margin-right: 10px;
  }
  /* ================= Header Menu Block =============*/
  .header-menu-block {
    height: 60px;
  }
  .logo-brand {
    width: 100px;
  }
  .navbar-default .navbar-collapse .header-menu-list li {
    margin-top: 5px;
  }
  .navbar-default .navbar-collapse .header-menu-list li a {
    font-size: 10px;
  }
  /* 2.2 SECTION CONTENT */
  .wrapper-content {
    padding-top: 85px;
  }
  /* ================= Corporate Programm Block ============= */
  .corporate-programm-item {
    margin-left: 56px;
    margin-bottom: 56px;
  }
  /* ================= Block Btn - "sign up for training" ============= */
  .next-training .btn-default-custom {
    margin-top: 0;
  }
  /* ==============SPA-CONTENT Block ===========================*/
  .spa-content {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  /*=============== 4.0 PAGE CONTACTS =====================*/
  .map {
    width: 720px;
    height: 300px;
  }
  /* ==================== 5.0 PAGE MOTIVATORS =======================*/
  /* ======= Modal Window Block ===== */
  .modals-overlay .modal {
    max-width: 615px;
    max-height: 570px;
    top: 25px;
    left: 9%;
  }
}
/* End Small devices .col-sm- (tablets, 768px and up) */
/* Start Extra small devices .col-xs- (phones,320px and up) */
@media (min-width: 320px) and (max-width: 767px) {
  /* 1.0 GLOBAL */
  .h1-custom {
    margin-top: 5px;
  }
  /* ============================ 2.1 SECTION TOP  ============================== */
  /* ================= Top Soci Icon Block ===== =======*/
  .social-icon-row {
    margin-right: 10px;
  }
  /* ================= Header Menu Block =============*/
  .header-menu-block {
    height: 70px;
  }
  .navbar-default .navbar-collapse .header-menu-list {
    background-color: #daf5ed;
    margin-top: 19px;
  }
  .navbar-default .navbar-collapse .header-menu-list li {
    margin-top: 0;
  }
  .navbar-default .navbar-collapse .header-menu-list li a:hover {
    background-color: #366;
    color: #fff;
    text-decoration: none;
  }
  .logo-brand {
    width: 150px;
    margin-left: 30px;
  }
  /* 2.2 SECTION CONTENT */
  .wrapper-content {
    padding-top: 95px;
  }
  /* ================= Corporate Programm Block ============= */
  .corporate-programm-item {
    margin: 0 auto 2px;
  }
  /* ==============SPA-CONTENT Block ===========================*/
  .spa-content {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  /* ================= Block Btn - "sign up for training" ============= */
  .next-training .btn-default-custom {
    margin-top: 0;
  }
  /*=============== 4.0 PAGE CONTACTS =====================*/
  .map {
    width: 300px;
    height: 300px;
  }
  /* ==================== 5.0 PAGE MOTIVATORS =======================*/
  /* ===== gallery block == */
  /* ===== gallery Preview == */
  .gallery-preview {
    height: 122px;
  }
  /* ===== gallery Thumbnails == */
  .gallery-thumbnails-box {
    width: 290px;
  }
  .gallery-thumbnails-overflow {
    width: 212px;
    margin-left: 40px;
  }
  /* ======= Modal Window Block ===== */
  .modals-overlay .modal {
    max-height: 330px;
    top: 100px;
    left: 0%;
  }
  /* 6.0 PAGE SITE MAP */
  .site-link-list {
    background-image: none;
  }
  /* 7.0 PAGE REGISTRATION PARTCIPIANT */
  /* ==== fields form registration participiant block */
  .form-registration-participiant input {
    width: 290px;
  }
  .form-registration-participiant textarea {
    min-width: 290px;
  }
  .capcha {
    padding: 5px 0 5px 4px;
    font-size: 15px;
  }
}
/* End Extra small devices .col-xs- (phones,320px and up) */
