<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fast-Search | About Us</title>
    <link href="/hw/fast-search/layout/less/style.less" rel="stylesheet/less" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script>
      less = {
        env: "development"
      };
    </script>
    <script src="/hw/less.min.js"></script>
  </head>
  <body>
    <!-- start top -->
    <div class="top">
      <div class="wrapper-top">
          <header class="sticky part-screen">
            <nav class="size pull-right clearfix">
              <ul class="menu clearfix">
                <li>
                  <a class="menu-li-now" href="/hw/fast-search/layout/about.html">about</a>
                </li>
                <li>
                  <a href="/hw/fast-search/layout/products.html">products</a>
                </li>
                <li>
                  <a href="/hw/fast-search/layout/blog.html">blog</a>
                </li>
                <li>
                  <a href="/hw/fast-search/layout/contact.html">contact</a>
                </li>
              </ul>
            </nav>
            <div class="search">
              <form class="search-form" action="index.html" method="get">
                <a class="icon-search" href="#">
                  <i class="fa fa-2x fa-search"></i>
                </a>
                <input class="invisibility" type="search" name="search" placeholder="Search">
                <input class="invisibility" type="submit" name="submit" value="Search">
              </form>
            </div>
            <div class="logo">
              <a href="/hw/fast-search/layout/fast.html">
                <img src="img/logo.png" alt="" />
              </a>
            </div>
          </header>
          <section class="wrapper-banner">
            <div class="banner-content">
              <div class="bread-crumbs">
                <span class="link"><a href="/hw/fast-search/layout/fast.html">Home</a></span>
                <span class="page-now">/ About Us</span>
              </div>
            </div>
          </section>
        </div>
    </div>
    <!-- end top -->
    <!-- sart block main -->
    <!-- start main-top -->
    <div class="main-top">
      <div class="wrapper-main-top clearfix">
        <div class="main-top-content col-3-75 pull-left">
          <h3 class="main-content-title">History</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec dolor dui. Phasellus vitae dapibus velit, a bibendum mi. Nunc fringilla augue non nibh pellentesque, non ultricies quam hendrerit. Morbi laoreet velit risus, in facilisis urna interdum id. Sed quis eros tortor.
          </p>
          <p>
            Suspendisse leo sem, tincidunt eget bibendum in, finibus quis purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ultrices odio arcu, et mollis leo auctor eu. Vestibulum in eleifend metus, ut malesuada leo. Donec vel metus facilisis, pellentesque turpis sed, commodo turpis.
          </p>
          <p>
            Curabitur tincidunt ullamcorper interdum. Nam eleifend diam ut semper fermentum. Nulla a sagittis mi.
          </p>
        </div>
        <div class="main-top-content col-1-25 pull-left">
          <h3 class="main-content-title">Values</h3>
            <ul class="info-col-1-25">
              <li><span>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.</span></li>
              <li><span>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span></li>
              <li><span>Ut tellus dolor, dapibus eget</span></li>
            </ul>
        </div>
      </div>
    </div>
    <!-- end main-top -->
    <!-- start main-middle -->
    <div class="main-middle-bg about-middle-bg">
      <div class="main-middle">
        <div class="main-middle-wrapper">
          <div class="main-middle-title">
            <h2>Why us?</h2>
          </div>
          <div class="row clearfix">
            <div class="main-middle-content pull-left">
              <div class="main-middle-content-info">
                <p>
                  Cras in interdum nisi, vitae blandit lectus. In imperdiet dolor eu justo rhoncus, id auctor lacus. aliquet.Vivamus id tellus massa. Proin pellentesque volutpat enim, a ultrices turpis euismod ut.
                </p>
              </div>
            </div>
            <div class="main-middle-content pull-left">
              <div class="main-middle-content-info">
                <p>
                  Maecenas ut sem ac tellus tempus hendrerit. Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Etiam venenatis purus turpis, eu semper neque. placerat ut.
                </p>
              </div>
            </div>
            <div class="main-middle-content pull-left">
              <div class="main-middle-content-info">
                <p>
                  Curabitur suscipit ligula at metus malesuada iaculis. Fusce eget sapien turpis. Etiam dapibus, velit vitae mollis faucibus, ipsum nisi lacinia leo, sed venenatis ipsum sem a turpis.
                </p>
              </div>
            </div>
            <div class="main-middle-content pull-left">
              <div class="main-middle-content-info">
                <p>
                  Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Mori dictum orci ligula, non aliquet. Morbi vestibulum eros sodales dolor efficitur fringilla. Duis tempus commodo velit, quis aliquet.                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end main-middle -->
    <!-- start main-bottom -->
    <div class="main-bottom">
      <div class="wrapper-main-bottom">
        <div class="wrapper-gallery clearfix">
          <div class="gallery-about pull-left">
            <div class="row clearfix">
              <div class="title-gallery pull-left">
                <h3 class="main-content-title">Oportunities</h3>
              </div>
              <div class="nav-gallery pull-right">
                <h3 class="main-content-title">< <span>></span></h3>
              </div>
            </div>
            <div class="gallery-about-col-2">
              <div class="gallery-about-col-2-inner clearfix">
                <div class="gallery-about-col-2-item">
                  <h4>Maecenas ut sem ac tellus tempus hendrerit</h4>
                  <p>
                    Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum.
                  </p>
                  <h4 class="second-article">Etiam venenatis - neque placerat ut:</h4>
                  <p>
                   Suspendisse leo sem, tincidunt eget bibendum in, finibus quis purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.  In quis purus nibh. Curabitur euismod!
                  </p>
                </div>
                <div class="gallery-about-col-2-item">
                  <h4>Maecenas ut sem ac tellus tempus hendrerit</h4>
                  <p>
                    Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum.
                  </p>
                  <h4 class="second-article">Etiam venenatis - neque placerat ut:</h4>
                  <p>
                   Suspendisse leo sem, tincidunt eget bibendum in, finibus quis purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.  In quis purus nibh. Curabitur euismod!
                  </p>
                </div>
                <div class="gallery-about-col-2-item">
                  <h4>Maecenas ut sem ac tellus tempus hendrerit</h4>
                  <p>
                    Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum.
                  </p>
                  <h4 class="second-article">Etiam venenatis - neque placerat ut:</h4>
                  <p>
                   Suspendisse leo sem, tincidunt eget bibendum in, finibus quis purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.  In quis purus nibh. Curabitur euismod!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-about pull-left">
            <div class="row clearfix">
              <div class="title-gallery pull-left">
                <h3 class="main-content-title">Testimonials</h3>
              </div>
              <div class="nav-gallery pull-right">
                <h3 class="main-content-title">< <span>></span></h3>
              </div>
            </div>
            <div class="gallery-about-col-2">
              <div class="gallery-about-col-2-inner clearfix">
                <div class="gallery-about-col-2-item">
                  <p>
                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec dolor dui. Phasellus vitae dapibus velit, a bibendum mi. Nunc fringilla augue non nibh pellentesque, non ultricies quam hendrerit.”
                  </p>
                  <p>
                    <i>John Doe, Doe Inc</i>
                  </p>
                  <p class="second-article">
                    Quisque suscipit quam vel tortor luctus, sit amet sagittis ante eleifend. In quis purus nibh. Curabitur euismod, nunc a aliquam dictum, magna mauris vestibulum massa, nec luctus arcu ligula quis tortor.”
                  </p>
                  <p>
                    <i>Pierre Tsukurov, iCompanyName</i>
                  </p>
                </div>
                <div class="gallery-about-col-2-item">
                  <p>
                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec dolor dui. Phasellus vitae dapibus velit, a bibendum mi. Nunc fringilla augue non nibh pellentesque, non ultricies quam hendrerit.”
                  </p>
                  <p>
                    <i>John Doe, Doe Inc</i>
                  </p>
                  <p class="second-article">
                    Quisque suscipit quam vel tortor luctus, sit amet sagittis ante eleifend. In quis purus nibh. Curabitur euismod, nunc a aliquam dictum, magna mauris vestibulum massa, nec luctus arcu ligula quis tortor.”
                  </p>
                  <p>
                    <i>Pierre Tsukurov, iCompanyName</i>
                  </p>
                </div>
                <div class="gallery-about-col-2-item">
                  <p>
                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec dolor dui. Phasellus vitae dapibus velit, a bibendum mi. Nunc fringilla augue non nibh pellentesque, non ultricies quam hendrerit.”
                  </p>
                  <p>
                    <i>John Doe, Doe Inc</i>
                  </p>
                  <p class="second-article">
                    Quisque suscipit quam vel tortor luctus, sit amet sagittis ante eleifend. In quis purus nibh. Curabitur euismod, nunc a aliquam dictum, magna mauris vestibulum massa, nec luctus arcu ligula quis tortor.”
                  </p>
                  <p>
                    <i>Pierre Tsukurov, iCompanyName</i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end main-bottom -->
    <!-- end block main -->
    <!-- start footer -->
    <footer class="bg-footer">
      <div class="wrapper-footer clearfix">
          <div class="footer-block-1 pull-left clearfix">
            <h3 class="main-content-title">About <span>us</span></h3>
            <img class="img-foot-block-1 pull-left" src="img/img_user/footer_content/about-us.jpg" alt="" />
            <p class="info-foot-block-1">
              Sed erat justo, dapibus sit amet dictum sit amet, condimentum vel erat. Maecenas mollis.
            </p>
            <p class="info-foot-block-1-p2">
              Duis suscipit venenatis sapien, et dictum ligula dignissim non. Nunc sapien justo, faucibus commodo ullamcorper nec, tempor vitae quam. <a href="/hw/fast-search/layout/about.html">Read more</a>
            </p>
          </div>
          <div class="footer-block-2 pull-left">
            <h3 class="main-content-title">From our <span>blog</span></h3>
            <div class="row-footer clearfix">
                <div class="col-2 pull-left">
                  <a href="#">
                    <img class="img-foot-block-2 pull-left" src="img/img_user/footer_content/our-blogs-1-1.jpg" alt="" />
                  </a>
                  <p class="info-foot-block-2">
                    Vestibulum volutpat sollicitudin consequat. Nam nec elit rutrum, sollicitudin ante nec...
                  </p>
                </div>
                <div class="col-2 pull-left">
                  <a href="#">
                    <img class="img-foot-block-2 pull-left" src="img/img_user/footer_content/our-blogs-1-2.jpg" alt="" />
                  </a>
                  <p class="info-foot-block-2">
                    Vestibulum volutpat sollicitudin consequat. Nam nec elit rutrum, sollicitudin ante nec...
                  </p>
                </div>
            </div>
            <div class="row-footer clearfix">
                <div class="col-2 pull-left">
                  <a href="#">
                    <img class="img-foot-block-2 pull-left" src="img/img_user/footer_content/our-blogs-2-1.jpg" alt="" />
                  </a>
                  <p class="info-foot-block-2">
                    Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Morbi tum...
                  </p>
                </div>
                <div class="col-2 pull-left">
                  <a href="#">
                    <img class="img-foot-block-2 pull-left" src="img/img_user/footer_content/our-blogs-2-2.jpg" alt="" />
                  </a>
                  <p class="info-foot-block-2">
                    Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Morbi tum...
                  </p>
                </div>
            </div>
          </div>
          <div class="footer-block-3 pull-left">
            <h3 class="main-content-title">our <span>Location</span></h3>
            <p class="info-foot-block-3">
              Suspendisse ullamcorper diam ex.
            </p>
            <address class="address-foot-block-3">
              154 Street Name 242
            </address>
            <address class="address-foot-block-3">
              Cityname, Country
            </address>
            <a href="#">info@domainame.com</a>
            <div class="social-network">
              <a class="social-network-icon" href="#"><i class="fa fa-2x fa-twitter"></i></a>
              <a class="social-network-icon" href="#"><i class="fa fa-2x fa-facebook"></i></a>
              <a class="social-network-icon" href="#"><i class="fa fa-2x fa-google-plus"></i></a>
              <a class="social-network-icon" href="#"><i class="fa fa-2x fa-pinterest-p"></i></a>
            </div>
          </div>
      </div>
    </footer>
    <!-- end footer -->
  </body>
</html>
