<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fast-Search | Blog</title>
    <link href="/hw/fast-search/layout/less/style.less" rel="stylesheet/less" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script>
      less = {
        env: "development"
      };
    </script>
    <script src="/hw/less.min.js"></script>
  </head>
  <body>
    <!-- start top -->
    <div class="top">
      <div class="wrapper-top">
          <header class="sticky part-screen">
            <nav class="size pull-right clearfix">
              <ul class="menu clearfix">
                <li>
                  <a href="/hw/fast-search/layout/about.html">about</a>
                </li>
                <li>
                  <a href="/hw/fast-search/layout/products.html">products</a>
                </li>
                <li>
                  <a class="menu-li-now" href="/hw/fast-search/layout/blog.html">blog</a>
                </li>
                <li>
                  <a href="/hw/fast-search/layout/contact.html">contact</a>
                </li>
              </ul>
            </nav>
            <div class="search">
              <form class="search-form" action="index.html" method="get">
                <a class="icon-search" href="#">
                  <i class="fa fa-2x fa-search"></i>
                </a>
                <input class="invisibility" type="search" name="search" placeholder="Search">
                <input class="invisibility" type="submit" name="submit" value="Search">
              </form>
            </div>
            <div class="logo">
              <a href="/hw/fast-search/layout/fast.html">
                <img src="img/logo.png" alt="" />
              </a>
            </div>
          </header>
          <section class="wrapper-banner">
            <div class="banner-content">
              <div class="bread-crumbs">
                <span class="link"><a href="/hw/fast-search/layout/fast.html">Home</a></span>
                <span class="page-now">/ Blog</span>
              </div>
            </div>
          </section>
        </div>
    </div>
    <!-- end top -->
    <!-- sart block main -->
    <!-- start main-top -->
    <div class="main-top">
      <div class="wrapper-main-top">
        <div class="gallery-blog">
          <div class="gallery-blog-inner clearfix">
            <div class="gallery-blog-item pull-left">
              <div class="row-gallery-blog-item clearfix">
                <div class="col-2 pull-left">
                  <a href="/hw/fast-search/layout/blogPost.html">
                    <h3 class="main-content-title">Suspendisse leo sem, tincidunt eget</h3>
                  </a>
                  <a href="/hw/fast-search/layout/blogPost.html">
                    <img class="blog-img" src="img/img_user/blog_img/1-1.jpg" alt="" />
                  </a>
                  <p class="blog-discription">
                    Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum.
                  </p>
                  <a href="/hw/fast-search/layout/blogPost.html">
                    <p class="data-autor">30/09/2014 by Yane Naumoski</p>
                  </a>
                </div>
                <div class="col-2 pull-left">
                  <a href="#">
                    <h3 class="main-content-title">Class aptent taciti sociosqu</h3>
                  </a>
                  <a href="#">
                    <img class="blog-img" src="img/img_user/blog_img/1-2.jpg" alt="" />
                  </a>
                  <p class="blog-discription">
                    Maecenas ut sem ac tellus tempus hendrerit. Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Etiam venenatis purus turpis, eu semper neque placerat ut.
                  </p>
                  <a href="#">
                    <p class="data-autor">29/09/2014 by Yane Naumoski</p>
                  </a>
                </div>
              </div>
              <div class="row-gallery-blog-item clearfix">
                <div class="col-2 pull-left">
                  <a href="#">
                    <h3 class="main-content-title">Sed ultrices odio arcu, et mollis leo</h3>
                  </a>
                  <a href="#">
                    <img class="blog-img" src="img/img_user/blog_img/2-1.jpg" alt="" />
                  </a>
                  <p class="blog-discription">
                    Curabitur suscipit ligula at metus malesuada iaculis. Fusce eget sapien turpis. Etiam dapibus, velit vitae mollis faucibus, ipsum nisi lacinia leo, sed venenatis ipsum sem a turpis.
                  </p>
                  <a href="#">
                    <p class="data-autor">28/09/2014 by Yane Naumoski</p>
                  </a>
                </div>
                <div class="col-2 pull-left">
                  <a href="#">
                    <h3 class="main-content-title">Vestibulum in eleifend metus</h3>
                  </a>
                  <a href="#">
                    <img class="blog-img" src="img/img_user/blog_img/2-2.jpg" alt="" />
                  </a>
                  <p class="blog-discription">
                    Morbi vestibulum eros sodales dolor efficitur fringilla. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum. Etiam a interdum metus.
                  </p>
                  <a href="#">
                    <p class="data-autor">27/09/2014 by Yane Naumoski</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="gallery-blog-item pull-left">
              <div class="row-gallery-blog-item clearfix">
                <div class="col-2 pull-left">
                  <a href="#">
                    <h3 class="main-content-title">Suspendisse leo sem, tincidunt eget</h3>
                  </a>
                  <a href="#">
                    <img class="blog-img" src="img/img_user/blog_img/1-1.jpg" alt="" />
                  </a>
                  <p class="blog-discription">
                    Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum.
                  </p>
                  <a href="#">
                    <p class="data-autor">26/09/2014 by Yane Naumoski</p>
                  </a>
                </div>
                <div class="col-2 pull-left">
                  <a href="#">
                    <h3 class="main-content-title">Class aptent taciti sociosqu</h3>
                  </a>
                  <a href="#">
                    <img class="blog-img" src="img/img_user/blog_img/1-2.jpg" alt="" />
                  </a>
                  <p class="blog-discription">
                    Maecenas ut sem ac tellus tempus hendrerit. Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Etiam venenatis purus turpis, eu semper neque placerat ut.
                  </p>
                  <a href="#">
                    <p class="data-autor">25/09/2014 by Yane Naumoski</p>
                  </a>
                </div>
              </div>
              <div class="row-gallery-blog-item clearfix">
                <div class="col-2 pull-left">
                  <a href="#">
                    <h3 class="main-content-title">Sed ultrices odio arcu, et mollis leo</h3>
                  </a>
                  <a href="#">
                    <img class="blog-img" src="img/img_user/blog_img/2-1.jpg" alt="" />
                  </a>
                  <p class="blog-discription">
                    Curabitur suscipit ligula at metus malesuada iaculis. Fusce eget sapien turpis. Etiam dapibus, velit vitae mollis faucibus, ipsum nisi lacinia leo, sed venenatis ipsum sem a turpis.
                  </p>
                  <a href="#">
                    <p class="data-autor">24/09/2014 by Yane Naumoski</p>
                  </a>
                </div>
                <div class="col-2 pull-left">
                  <a href="#">
                    <h3 class="main-content-title">Vestibulum in eleifend metus</h3>
                  </a>
                  <a href="#">
                    <img class="blog-img" src="img/img_user/blog_img/2-2.jpg" alt="" />
                  </a>
                  <p class="blog-discription">
                    Morbi vestibulum eros sodales dolor efficitur fringilla. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum. Etiam a interdum metus.
                  </p>
                  <a href="#">
                    <p class="data-autor">23/09/2014 by Yane Naumoski</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="gallery-blog-item pull-left">
              <div class="row-gallery-blog-item clearfix">
                <div class="col-2 pull-left">
                  <a href="#">
                    <h3 class="main-content-title">Suspendisse leo sem, tincidunt eget</h3>
                  </a>
                  <a href="#">
                    <img class="blog-img" src="img/img_user/blog_img/1-1.jpg" alt="" />
                  </a>
                  <p class="blog-discription">
                    Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum.
                  </p>
                  <a href="#">
                    <p class="data-autor">22/09/2014 by Yane Naumoski</p>
                  </a>
                </div>
                <div class="col-2 pull-left">
                  <a href="#">
                    <h3 class="main-content-title">Class aptent taciti sociosqu</h3>
                  </a>
                  <a href="#">
                    <img class="blog-img" src="img/img_user/blog_img/1-2.jpg" alt="" />
                  </a>
                  <p class="blog-discription">
                    Maecenas ut sem ac tellus tempus hendrerit. Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Etiam venenatis purus turpis, eu semper neque placerat ut.
                  </p>
                  <a href="#">
                    <p class="data-autor">21/09/2014 by Yane Naumoski</p>
                  </a>
                </div>
              </div>
              <div class="row-gallery-blog-item clearfix">
                <div class="col-2 pull-left">
                  <a href="#">
                    <h3 class="main-content-title">Sed ultrices odio arcu, et mollis leo</h3>
                  </a>
                  <a href="#">
                    <img class="blog-img" src="img/img_user/blog_img/2-1.jpg" alt="" />
                  </a>
                  <p class="blog-discription">
                    Curabitur suscipit ligula at metus malesuada iaculis. Fusce eget sapien turpis. Etiam dapibus, velit vitae mollis faucibus, ipsum nisi lacinia leo, sed venenatis ipsum sem a turpis.
                  </p>
                  <a href="#">
                    <p class="data-autor">20/09/2014 by Yane Naumoski</p>
                  </a>
                </div>
                <div class="col-2 pull-left">
                  <a href="#">
                    <h3 class="main-content-title">Vestibulum in eleifend metus</h3>
                  </a>
                  <a href="#">
                    <img class="blog-img" src="img/img_user/blog_img/2-2.jpg" alt="" />
                  </a>
                  <p class="blog-discription">
                    Morbi vestibulum eros sodales dolor efficitur fringilla. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum. Etiam a interdum metus.
                  </p>
                  <a href="#">
                    <p class="data-autor">19/09/2014 by Yane Naumoski</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="navigation-gallery">
          <h3 class="main-content-title">< <span>></span></h3>
        </div>
      </div>
    </div>
    <!-- end main-top -->
    <!-- end block main -->
    <!-- start footer -->
    <footer class="bg-footer">
      <div class="wrapper-footer clearfix">
          <div class="footer-block-1 pull-left clearfix">
            <h3 class="main-content-title">About <span>us</span></h3>
            <img class="img-foot-block-1 pull-left" src="img/img_user/footer_content/about-us.jpg" alt="" />
            <p class="info-foot-block-1">
              Sed erat justo, dapibus sit amet dictum sit amet, condimentum vel erat. Maecenas mollis.
            </p>
            <p class="info-foot-block-1-p2">
              Duis suscipit venenatis sapien, et dictum ligula dignissim non. Nunc sapien justo, faucibus commodo ullamcorper nec, tempor vitae quam. <a href="/hw/fast-search/layout/about.html">Read more</a>
            </p>
          </div>
          <div class="footer-block-2 pull-left">
            <h3 class="main-content-title">From our <span>blog</span></h3>
            <div class="row-footer clearfix">
                <div class="col-2 pull-left">
                  <a href="#">
                    <img class="img-foot-block-2 pull-left" src="img/img_user/footer_content/our-blogs-1-1.jpg" alt="" />
                  </a>
                  <p class="info-foot-block-2">
                    Vestibulum volutpat sollicitudin consequat. Nam nec elit rutrum, sollicitudin ante nec...
                  </p>
                </div>
                <div class="col-2 pull-left">
                  <a href="#">
                    <img class="img-foot-block-2 pull-left" src="img/img_user/footer_content/our-blogs-1-2.jpg" alt="" />
                  </a>
                  <p class="info-foot-block-2">
                    Vestibulum volutpat sollicitudin consequat. Nam nec elit rutrum, sollicitudin ante nec...
                  </p>
                </div>
            </div>
            <div class="row-footer clearfix">
                <div class="col-2 pull-left">
                  <a href="#">
                    <img class="img-foot-block-2 pull-left" src="img/img_user/footer_content/our-blogs-2-1.jpg" alt="" />
                  </a>
                  <p class="info-foot-block-2">
                    Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Morbi tum...
                  </p>
                </div>
                <div class="col-2 pull-left">
                  <a href="#">
                    <img class="img-foot-block-2 pull-left" src="img/img_user/footer_content/our-blogs-2-2.jpg" alt="" />
                  </a>
                  <p class="info-foot-block-2">
                    Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Morbi tum...
                  </p>
                </div>
            </div>
          </div>
          <div class="footer-block-3 pull-left">
            <h3 class="main-content-title">our <span>Location</span></h3>
            <p class="info-foot-block-3">
              Suspendisse ullamcorper diam ex.
            </p>
            <address class="address-foot-block-3">
              154 Street Name 242
            </address>
            <address class="address-foot-block-3">
              Cityname, Country
            </address>
            <a href="#">info@domainame.com</a>
            <div class="social-network">
              <a class="social-network-icon" href="#"><i class="fa fa-2x fa-twitter"></i></a>
              <a class="social-network-icon" href="#"><i class="fa fa-2x fa-facebook"></i></a>
              <a class="social-network-icon" href="#"><i class="fa fa-2x fa-google-plus"></i></a>
              <a class="social-network-icon" href="#"><i class="fa fa-2x fa-pinterest-p"></i></a>
            </div>
          </div>
      </div>
    </footer>
    <!-- end footer -->
  </body>
</html>
