<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fast-Search</title>
    <link href="/hw/fast-search/layout/less/style.less" rel="stylesheet/less" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <script>
      less = {
        env: "development"
      };
    </script>
    <script src="/hw/less.min.js"></script>
  </head>
  <body>
    <!-- start top -->
    <div class="top">
      <div class="wrapper-top">
        <div class="logo">

        </div>
        <nav>

        </nav>
      </div>
      <header>

      </header>
      <div class="banner-content">
        asefawefawerfer
      </div>
    </div>
    <!-- end top -->
    <!-- sart block main -->
    <!-- start main-top -->
    <div class="main-top">

    </div>
    <!-- end main-top -->
    <!-- start main-middle -->
    <div class="main-middle">

    </div>
    <!-- end main-middle -->
    <!-- start main-bottom -->
    <div class="main-bottom">

    </div>
    <!-- end main-bottom -->
    <!-- end block main -->
    <!-- start footer -->
    <footer>

    </footer>
    <!-- end footer -->
  </body>
</html>
