<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fast-Search | Products</title>
    <link href="/hw/fast-search/layout/less/style.less" rel="stylesheet/less" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script>
      less = {
        env: "development"
      };
    </script>
    <script src="/hw/less.min.js"></script>
  </head>
  <body>
    <!-- start top -->
    <div class="top">
      <div class="wrapper-top">
          <header class="sticky part-screen">
            <nav class="size pull-right clearfix">
              <ul class="menu clearfix">
                <li>
                  <a href="/hw/fast-search/layout/about.html">about</a>
                </li>
                <li>
                  <a class="menu-li-now" href="/hw/fast-search/layout/products.html">products</a>
                </li>
                <li>
                  <a href="/hw/fast-search/layout/blog.html">blog</a>
                </li>
                <li>
                  <a href="/hw/fast-search/layout/contact.html">contact</a>
                </li>
              </ul>
            </nav>
            <div class="search">
              <form class="search-form" action="index.html" method="get">
                <a class="icon-search" href="#">
                  <i class="fa fa-2x fa-search"></i>
                </a>
                <input class="invisibility" type="search" name="search" placeholder="Search">
                <input class="invisibility" type="submit" name="submit" value="Search">
              </form>
            </div>
            <div class="logo">
              <a href="/hw/fast-search/layout/fast.html">
                <img src="img/logo.png" alt="" />
              </a>
            </div>
          </header>
          <section class="wrapper-banner">
            <div class="banner-content">
              <div class="bread-crumbs">
                <span class="link"><a href="/hw/fast-search/layout/fast.html">Home</a></span>
                <span class="page-now">/ Products</span>
              </div>
            </div>
          </section>
        </div>
    </div>
    <!-- end top -->
    <!-- sart block main -->
    <!-- start main-top -->
    <div class="main-top">
      <div class="wrapper-main-top">
        <div class="row-products clearfix">
          <div class="main-top-content pull-left">
            <h3 class="main-content-title">Zaamron v2.1</h3>
            <h4>Maecenas ut sem ac tellus tempus hendrerit</h4>
            <p class="main-top-content-info">
              Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum.
            </p>
            <div class="row clearfix">
              <div class="col-2 pull-left">
                <a class="product-discription" href="#">
                  <img class="product-img" src="img/img_user/products_img/p1-1.jpg" alt="" />
                </a>
              </div>
              <div class="col-2 pull-left">
                <a class="product-discription" href="#">
                  <img class="product-img" src="img/img_user/products_img/p1-2.jpg" alt="" />
                </a>
              </div>
            </div>
          </div>
          <div class="main-top-content pull-left">
            <h3 class="main-content-title">Ozertrax</h3>
            <h4>Fusce eget sapien turpis</h4>
            <p class="main-top-content-info">
              Etiam dapibus, velit vitae mollis faucibus, ipsum nisi lacinia leo, sed venenatis ipsum sem a turpis. Morbi vestibulum eros sodales dolor efficitur fringilla. Duis tempus commodo velit, quis aliquet augue cursus a.
            </p>
            <div class="row clearfix">
              <div class="col-2 pull-left">
                <a class="product-discription" href="#">
                  <img class="product-img" src="img/img_user/products_img/p2-1.jpg" alt="" />
                </a>
              </div>
              <div class="col-2 pull-left">
                <a class="product-discription" href="#">
                  <img class="product-img" src="img/img_user/products_img/p2-2.jpg" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row-products clearfix">
          <div class="main-top-content pull-left">
            <h3 class="main-content-title">Job Golux</h3>
            <h4>Vivamus tempus ac libero eu dignissim</h4>
            <p class="main-top-content-info">
              Quisque suscipit quam vel tortor luctus, sit amet sagittis ante eleifend. In quis purus nibh. Curabitur euismod, nunc a aliquam dictum, magna mauris vestibulum massa, nec luctus arcu ligula quis tortor.
            </p>
            <div class="row clearfix">
              <div class="col-2 pull-left">
                <a class="product-discription" href="#">
                  <img class="product-img" src="img/img_user/products_img/p3-1.jpg" alt="" />
                </a>
              </div>
              <div class="col-2 pull-left">
                <a class="product-discription" href="#">
                  <img class="product-img" src="img/img_user/products_img/p3-2.jpg" alt="" />
                </a>
              </div>
            </div>
          </div>
          <div class="main-top-content pull-left">
            <h3 class="main-content-title">Zotlam</h3>
            <h4>Cras dapibus euismod nulla</h4>
            <p class="main-top-content-info">
              Sed sagittis laoreet magna, in bibendum nulla vestibulum scelerisque. Quisque faucibus risus ut erat volutpat semper. Quisque ac molestie justo. Nam eu erat eros. Etiam imperdiet sollicitudin est eleifend bibendum.
            </p>
            <div class="row clearfix">
              <div class="col-2 pull-left">
                <a class="product-discription" href="#">
                  <img class="product-img" src="img/img_user/products_img/p4-1.jpg" alt="" />
                </a>
              </div>
              <div class="col-2 pull-left">
                <a class="product-discription" href="#">
                  <img class="product-img" src="img/img_user/products_img/p4-2.jpg" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row-products clearfix">
          <div class="main-top-content pull-left">
            <h3 class="main-content-title">Strongzap - your photobook</h3>
            <h4>Phasellus sollicitudin nulla</h4>
            <p class="main-top-content-info">
              Vivamus ac lorem fringilla dui semper dignissim ornare at nulla. Donec bibendum ligula mi, id dignissim nisl imperdiet vel. Pellentesque sodales, purus nec condimentum aliquet, velit dui efficitur nisi, eget bibendum.
            </p>
            <div class="row clearfix">
              <div class="col-2 pull-left">
                <a class="product-discription" href="#">
                  <img class="product-img" src="img/img_user/products_img/p5-1.jpg" alt="" />
                </a>
              </div>
              <div class="col-2 pull-left">
                <a class="product-discription" href="#">
                  <img class="product-img" src="img/img_user/products_img/p5-2.jpg" alt="" />
                </a>
              </div>
            </div>
          </div>
          <div class="main-top-content pull-left">
            <h3 class="main-content-title">Trippleex</h3>
            <h4>Duis in urna eget elit lacinia</h4>
            <p class="main-top-content-info">
               Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec posuere elit at eros sagittis, id malesuada nibh rutrum. Phasellus pulvinar convallis sem et facilisis.
            </p>
            <div class="row clearfix">
              <div class="col-2 pull-left">
                <a class="product-discription" href="#">
                  <img class="product-img" src="img/img_user/products_img/p6-1.jpg" alt="" />
                </a>
              </div>
              <div class="col-2 pull-left">
                <a class="product-discription" href="#">
                  <img class="product-img" src="img/img_user/products_img/p6-2.jpg" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end main-top -->
    <!-- end block main -->
    <!-- start footer -->
    <footer class="bg-footer">
      <div class="wrapper-footer clearfix">
          <div class="footer-block-1 pull-left clearfix">
            <h3 class="main-content-title">About <span>us</span></h3>
            <img class="img-foot-block-1 pull-left" src="img/img_user/footer_content/about-us.jpg" alt="" />
            <p class="info-foot-block-1">
              Sed erat justo, dapibus sit amet dictum sit amet, condimentum vel erat. Maecenas mollis.
            </p>
            <p class="info-foot-block-1-p2">
              Duis suscipit venenatis sapien, et dictum ligula dignissim non. Nunc sapien justo, faucibus commodo ullamcorper nec, tempor vitae quam. <a href="/hw/fast-search/layout/about.html">Read more</a>
            </p>
          </div>
          <div class="footer-block-2 pull-left">
            <h3 class="main-content-title">From our <span>blog</span></h3>
            <div class="row-footer clearfix">
                <div class="col-2 pull-left">
                  <a href="#">
                    <img class="img-foot-block-2 pull-left" src="img/img_user/footer_content/our-blogs-1-1.jpg" alt="" />
                  </a>
                  <p class="info-foot-block-2">
                    Vestibulum volutpat sollicitudin consequat. Nam nec elit rutrum, sollicitudin ante nec...
                  </p>
                </div>
                <div class="col-2 pull-left">
                  <a href="#">
                    <img class="img-foot-block-2 pull-left" src="img/img_user/footer_content/our-blogs-1-2.jpg" alt="" />
                  </a>
                  <p class="info-foot-block-2">
                    Vestibulum volutpat sollicitudin consequat. Nam nec elit rutrum, sollicitudin ante nec...
                  </p>
                </div>
            </div>
            <div class="row-footer clearfix">
                <div class="col-2 pull-left">
                  <a href="#">
                    <img class="img-foot-block-2 pull-left" src="img/img_user/footer_content/our-blogs-2-1.jpg" alt="" />
                  </a>
                  <p class="info-foot-block-2">
                    Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Morbi tum...
                  </p>
                </div>
                <div class="col-2 pull-left">
                  <a href="#">
                    <img class="img-foot-block-2 pull-left" src="img/img_user/footer_content/our-blogs-2-2.jpg" alt="" />
                  </a>
                  <p class="info-foot-block-2">
                    Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Morbi tum...
                  </p>
                </div>
            </div>
          </div>
          <div class="footer-block-3 pull-left">
            <h3 class="main-content-title">our <span>Location</span></h3>
            <p class="info-foot-block-3">
              Suspendisse ullamcorper diam ex.
            </p>
            <address class="address-foot-block-3">
              154 Street Name 242
            </address>
            <address class="address-foot-block-3">
              Cityname, Country
            </address>
            <a href="#">info@domainame.com</a>
            <div class="social-network">
              <a class="social-network-icon" href="#"><i class="fa fa-2x fa-twitter"></i></a>
              <a class="social-network-icon" href="#"><i class="fa fa-2x fa-facebook"></i></a>
              <a class="social-network-icon" href="#"><i class="fa fa-2x fa-google-plus"></i></a>
              <a class="social-network-icon" href="#"><i class="fa fa-2x fa-pinterest-p"></i></a>
            </div>
          </div>
      </div>
    </footer>
    <!-- end footer -->
  </body>
</html>
