main page



  <div class="form-inline">
    <input class="form-control" ng-model="query">
    <select class="form-control" ng-model="queryBy">
      <option value="">Any</option>
      <option value="name.last">Last Name</option>
      <option value="name.first">First Name</option>
      <option value="phone">Phone</option>
    </select>
    <div class="pull-right">
      <button ng-if="usersChange" ng-click="saveUsers()" class="btn btn-default">Save Users</button>
      <button ng-click="refresh()" class="btn btn-default">Refresh Users</button>
    </div>
  </div>



<table class="table table-striped">
  <tr class="row">
    <th ng-click="sort('name.last')" class="col-md-3">Last Name</th>
    <th ng-click="sort('name.first')" class="col-md-3">First Name</th>
    <th ng-click="sort('phone')" class="col-md-2">Phone</th>
    <th ng-click="sort('registered')" class="col-md-2">Registered</th>
    <th class="col-md-2">Action</th>
  </tr>
  <tr ng-repeat="user in users | filter:searchFunction | orderBy:orderProp:revers | startFrom:pageSize*currentPage | limitTo:pageSize" class="row">
    <td class="col-md-3">{{user.name.last}}</td>
    <td class="col-md-3">{{user.name.first}}</td>
    <td class="col-md-2">{{user.phone}}</td>
    <td class="col-md-2">{{user.registered | date}}</td>
    <td class="col-md-2">
      <a href="#/users/{{user.dob}}">
        <i class="glyphicon glyphicon-user"></i>
      </a>
      <i ng-click="remove(user)" class="glyphicon glyphicon-trash"></i>
    </td>
  </tr>

</table>

<!-- Создаем свой ХТМЛ тэг pagination -->
<pagination page-size="pageSize", current-page="currentPage", pages-count="users.length/pageSize", items-count="users.length"></pagination>
