body{
  font-family: Arial;
  background: url('../img/rockywall.png')
}
fieldset{
  border: white;
}
form{
  padding-top: 10px;
  padding: 10px 0px 10px 10px;
  width: 360px;
  height: 830px;
  background: #eee;
}
.mane-field{
  width: 149px;
  height: 25px;
  padding-left: 3px;
}
.surname-field{
  margin-left: 5px;
}
legend{
  font-size: 15px;
  font-weight: bold;
}
.user-name-field,
.password-field,
.tel-field,
.email-field{
  width: 316px;
  height: 25px;
}
.sex-field,
.country-field{
  width: 319px;
  height: 31px;
}
.date-field,
.year-field{
  height: 25px;
}

.date-field{
  width: 60px;
  padding-left: 3px;
}
.mouth-field{
  margin-left: 5px;
  width: 134px;
  height: 31px;
}
.year-field{
  padding-left: 3px;
  margin-left: 5px;
  width: 95px;
}
fieldset,
.check-field{
  margin-top: 10px;
}
.form-block{
  width: 360px;
  height: 840px;
  float: right;
  margin-right: 25px;
  margin-top: 25px;
}
.button{
  float: right;
  margin-right: 15px;
  padding: 5px 7px;
  background: #4B8DF9;
  border: 1px solid #4B8DF9;
  border-radius: 3px;
  color: white;
  margin-top: 15px;
}
.check-info-text,
.check-registration-text{
  margin-left: 5px;
}
h1, h2{
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 0px #F6F6F6;
}
.info-block{
  display: inline-block;
  width: 700px;
  margin: 0 25px;
  text-align: center;
}
p{
  font-size: 19px;
  text-shadow: 1px 0px #F6F6F6;

}
