table{
 border-bottom:  1px solid black;
 border-right:  1px solid black;
 width: 450px;
 height: 450px;
}
td{
  border-left:  1px solid black;
  border-top:  1px solid black;
  margin: 0;
  padding: 0;
}
