body {
  border-top: 5px solid #f3f3f3;
  background: url(image/bg/bgbody.jpg);
  font-family: 'Oswald', sans-serif;
}



/*CSS NAVIGATOIN
1.0 GLOBAL
1.1 WRAPPER
1.2 TOP
1.3 MENU
1.4 BANNER
1.5 ABOUT

*/
/* 1.0 GLOBAL */
.borbackgrey {
  background:#f3f3f3;
  border:1px solid #e7e7e7;
  box-sizing: border-box;
}

/* 1.1 WRAPPER */
#wrapper {
  width: 960px;
  min-height: 1080px;
  margin: 0 auto;
  /*background-color: green;*/
}

/* 1.2 TOP */
#top {
  height: 32px;
  margin-top: 27px;
}

#top::after {
  content: '';
  clear: both;
  display: block;
}

#logo {
  float: left;
}

#form-search::after {
  content: '';
  clear: both;
  display: block;
}

#search {
  width: 200px;
  height: 32px;
  float: right;
}

#input-search {
  width: 158px;
  height: 30px;
  float: left;
  box-sizing: border-box;
  margin: 0;
  text-transform: capitalize;
  color: #999;
}

.btn-go {
  width: 42px;
  height: 30px;
  float: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #3cf;
  border-radius: 0px;
  border: none;
  text-transform: uppercase;
  color: #fff;
}

/* 1.3 MENU */
#menu {
  margin-top: 27px;
  height: 40px;
}

#menu li {
  position: relative;
}

#menu ul.borbackgrey li {
  float: left;
  width: 12.5%;
  height: 40px;
}

#menu ul.borbackgrey::after {
  content: '';
  clear: both;
  display: block;
}

#menu ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #999;
  display: block;
  width: 119px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  padding-top: 12px;
  box-sizing: border-box;
}

#menu ul li a:hover {
  background-color: #3cf;
  color: #fff;
}

#menu li ul {
  display: none;
  position: absolute;
  }

li#extra-menu:hover ul {
  display: block;
}

#menu ul.dropdown li {
  float: none;
}

.dropdown {
  float: none;
  display: block;
  background:#f3f3f3;
  border:1px solid #e7e7e7;
  box-sizing: border-box;
}

/* 1.4 BANNER */
#banner {
  width: 960px;
  height: 280px;
  overflow: hidden;
  margin-top: 27px;
}

#banner-nav {
  width: 960px;
  height: 50px;
}

.b-n::after {
  content: '';
  clear: both;
  display: block;
}

.b-n li {
  position: relative;
  width: 25%;
  padding-left: 17px;
  box-sizing: border-box;
}

.b-n>li {
  float: left;
  margin-top: 17px;
}

.b-n a span {
  color: #fff;
  background-color: #8f8f8f;
  padding: 0 8px;
  font-weight: 300;
}

.b-n a:hover span {
  background-color: #3cf;
}

.b-n a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #999;
}

.b-n a:hover {
  color: #3cf;
}

/* 1.5 ABOUT */
#about {
  width: 480px;
  box-sizing: border-box;
  padding-top: 32px;
}

.bg-line h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: #666;
  padding-bottom: 15px;
  position: relative;
  float: left;
}

.bg-line h3::before {
  content: "■ ";
  color: #3CF;
  font-size: 24px;
  position: relative;
  top: 3px;
}

.g-l {
  height: 15px;
  background-image: url(image/grey-line.png);
  background-repeat: repeat-x;
}
