<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WiteSquare</title>
    <link rel="stylesheet" href="custom.css">
  </head>
  <body>
    <div class="top-line"> </div>               <!-- Фон ТОР линии-->
                                                <!-- Обложка -->
    <div class="wrapper">
      <header>
        <div class="header">                    <!-- Шапка-->
          <div class=top>                           <!-- Блок ТОР-->
            <div class="logo">                        <!-- Логотип -->
              <img src="image/logo/logoUp.png" alt="WhiteSquare" />
            </div>
            <div class="search">                      <!-- Поиск -->
              <div class="enter">                        <!-- Поле Ввода в Поиск-->
                <form class="f-enter-search" action="#" method="post">
                  <input class="enter-search" type="text" name="enter-search" placeholder="Search" >
                    <div class="button-go">               <!-- Кнопка Поиска-->
                      <input class="go" type="submit" name="search-submit" value="GO">
                    </div>
                </form>
              </div>
            </div>
          </div>                                    <!-- Конец Блок ТОР-->
          <div class="menu">                        <!-- Блок Меню-->
            <ul>
              <li>
                <a href="#">home</a>
              </li>
              <li>
                <a href="#">about us</a>
              </li>
              <li>
                <a href="#">services</a>
              </li>
              <li>
                <a href="#">partners</a>
              </li>
              <li>
                <a href="#">customers</a>
              </li>
              <li>
                <a href="#">projects ▼</a>
                  <ul class="project-menu">         <!-- Выпадающее меню-->
                    <li>
                      <a href="#">first project</a>
                    </li>
                    <li>
                      <a href="#">second project</a>
                    </li>
                    <li>
                      <a href="#">third project</a>
                    </li>
                  </ul>
              </li>
              <li>
                <a href="#">careers</a>
              </li>
              <li>
                <a href="#">contact</a>
              </li>
            </ul>
          </div>                                    <!-- Конец Блок Меню-->
        </div>
      </header>
      <div class="banner">                      <!-- Баннер -->
    <!--    <img src="image/banner-home-first.jpg" alt="Реклама" /> -->
      </div>
    </div>                                      <!-- Конец Обложка -->
                                                <!-- Фон подвала-->
    <div class="bg-footer"> </div>
  </body>
</html>
