<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WhiteSquare</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="custom.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- start wrapper -->
    <div id="wrapper" class="clearfix">
      <!-- start top -->
      <div id="top">
        <div id="logo">
          <img src="image/logo/logoUp.png" alt="WhiteSquare" />
        </div>
        <div id="search">
          <form id="form-search" class="clearfix" action="#" method="get">
            <input id="input-search" class="borbackgrey" type="search" name="request-search" placeholder="search">
            <input class="btn-go" type="submit" name="go" value="go">
          </form>
        </div>
      </div>
      <!-- end top -->
      <!-- start menu -->
      <div id="menu">
        <ul class="borbackgrey clearfix">
          <li>
            <a href="#">home</a>
          </li>
          <li>
            <a href="#">about us</a>
          </li>
          <li>
            <a href="#">servises</a>
          </li>
          <li>
            <a href="#">partners</a>
          </li>
          <li>
            <a href="#">customers</a>
          </li>
          <li id="extra-menu">
            <a href="#">projects ▼</a>
            <ul class="dropdown">
              <li>
                <a href="#">1 projects</a>
              </li>
              <li>
                <a href="#">2 projects</a>
              </li>
              <li>
                <a href="#">3 projects</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">careers</a>
          </li>
          <li>
            <a href="#">contact</a>
          </li>
        </ul>
      </div>
      <!-- end menu -->
      <!-- start banner -->
      <div id="banner">
        <img src="image/banner-home-first.jpg" alt="" />
      </div>
      <div id="banner-nav" class="borbackgrey">
        <ul class="b-n clearfix">
          <li>
            <a href="#">
              <span>1</span>
              Lorem Ipsum Dolop
            </a>
          </li>
          <li>
            <a href="#">
              <span>2</span>
              Ultricies Pellentesque
            </a>
          </li>
          <li>
            <a href="#">
              <span>3</span>
              Aliquam ipsum
            </a>
          </li>
          <li>
            <a href="#">
              <span>4</span>
              Nullam sed mauris ut
            </a>
          </li>
        </ul>
      </div>
      <!-- end banner -->
      <!-- start about -->
      <div id="about" class="main-content">
        <div class="clearfix">
          <div class="col-2">
            <span class="b-square">
              <img src="image/squareblue.png" alt="" />
            </span>
            <span class="title-article">About WhiteSquare</span>
            <span class="b-l">
              <img src="image/g-l.png" alt="" />
            </span>
            <img class="g-square"src="image/square.png" alt="" />
            <p class="articcle">
              In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac ultrices.
            </p>
            <a href="#">Read more</a>
          </div>
          <div class="col-2">
            <span class="b-square">
              <img src="image/squareblue.png" alt="" />
            </span>
            <span class="title-article">a word from OUR ceo</span>
            <span class="b-l-2">
              <img src="image/g-l.png" alt="" />
            </span>
            <img class="g-square"src="image/square.png" alt="" />
            <p class="articcle">
              “In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac.”
            </p>
            <a href="#">Yane Naumoski, CEO</a>
          </div>
        </div>
        <div class="clearfix">
          <div class="col-3 clearfix">
            <span class="b-square">
              <img src="image/squareblue.png" alt="" />
            </span>
            <span class="title-article">services</span>
            <span class="b-l-3">
              <img src="image/g-l.png" alt="" />
            </span>
            <p class="articcle">
              “In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac.”
            </p>
            <a href="#">Read more</a>
          </div>
          <div class="col-3 clearfix">
            <span class="b-square">
              <img src="image/squareblue.png" alt="" />
            </span>
            <span class="title-article">our teams</span>
            <span class="b-l-4">
              <img src="image/g-l.png" alt="" />
            </span>
            <div class="clearfix">
              <img class="g-square-small"src="image/square.png" alt="" />
              <p class="title-small">Lorem Ipsum</p>
              <p class="articcle-small">
                In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nu
              </p>
            </div>
            <div class="clearfix">
              <img class="g-square-small"src="image/square.png" alt="" />
              <p class="title-small">Lorem Ipsum</p>
              <p class="articcle-small">
                In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nu
              </p>
            </div>
            <div class="clearfix">
              <img class="g-square-small"src="image/square.png" alt="" />
              <p class="title-small">Lorem Ipsum</p>
              <p class="articcle-small">
                In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nu
              </p>
            </div>
          </div>
          <div class="col-3 clearfix">
            <span class="b-square">
              <img src="image/squareblue.png" alt="" />
            </span>
            <span class="title-article">27/7/365 support</span>
            <span class="b-l-5">
              <img src="image/g-l.png" alt="" />
            </span>
            <p class="articcle">
              “In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac.”
            </p>
            <a href="#">Read more</a>
          </div>
        </div>
        <div class="clearfix">
          <div class="col-1">
            <span class="b-square">
              <img src="image/squareblue.png" alt="" />
            </span>
            <span class="title-article">Our clients</span>
            <span class="b-l-6">
              <img src="image/g-l.png" alt="" />
            </span>
            <img class="clients-logo" src="image/clients.png" alt="" />
          </div>
        </div>
      </div>
      <!-- end about -->
    </div>
    <!-- end wrapper -->
    <!-- start footer -->
    <div id="footer">
      <div class="footer-wrap clearfix">
        <div class="foot-col-1">
          <h3 class="foot-h3">Twitter feed</h3>
          <hr class="foot-line">
          <a class="foot-data" href="#">23 oct</a>
          <p class=foot-p-c-1>
            In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean aug
          </p>
        </div>
        <div class="foot-col-2">
          <h3 class="foot-h3">Sitemap</h3>
          <hr class="foot-line">
          <ul class="map">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
          </ul>
          <ul class="map map-2">
            <li><a href="#">Partners</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="foot-col-2">
          <h3 class="foot-h3">social networks</h3>
          <hr class="foot-line">
          <img class="social" src="image/social-icon.png" alt="" />
        </div>
        <div class="foot-col-1">
          <img class="logo-f" src="image/logo/logoFooter.png" alt="" />
          <p class="foot-p-c-4">
            Copyright © 2012 Whitesquare. A pcklab creation
          </p>
        </div>
      </div>
    </div>
    <!-- end wrapper -->
  </body>
</html>
